<html>
<script language="javascript"> 
function printpr()
{
var OLECMDID = 7;
/* OLECMDID values:
* 6 - print
* 7 - print preview
* 1 - open window
* 4 - Save As
*/
 
var PROMPT = 1; // 2 DONTPROMPTUSER
var WebBrowser = '<OBJECT ID="WebBrowser1" WIDTH=0 HEIGHT=0 CLASSID="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2"></OBJECT>';
document.body.insertAdjacentHTML('beforeEnd', WebBrowser);
 
WebBrowser1.ExecWB(OLECMDID, PROMPT); 
WebBrowser1.outerHTML = "";
} 
</script>
 
<link href="../../css/report.css" rel="stylesheet" type="text/css">
 
<body onLoad="printpr();" onBlur="this.window.close();">
<center>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<!-- START == JUDUL ===============================================================================-->
<tr>
	<td>
    	<table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td><span class="style1">SAFETY OBSERVATION LOG SHEET</span></td>
        </tr>
        </table>
    </td>
</tr>
<tr><td height="25">&nbsp;</td></tr>
 
<tr>
	<td valign="top">
    	<table width="100%" border="0" cellpadding="0" cellspacing="0" class="style2">
    		<tr>
            	<td width="4%">&nbsp;Period</td>
                <td width="74%">: Mei 2014</td>
            </tr>
        </table>
    </td>
</tr>
<tr><td height="25">&nbsp;</td></tr>
<!-- END OF == JUDUL ===============================================================================-->
 
<tr>
	<td>
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
    	<td>
        <table align="center"><tr><td>
        	<!--<div style="width:350;margin-left:1;margin-top:1;float:left;">-->
            <table width="350" border="0" cellpadding="0" cellspacing="0" class="tabelBorderAll">
            	<tr align="center" bgcolor="#E9E9E9" class="style3">
                	<td width="5%" class="tabelBorderBottomJust">No. </td>
                	<td width="24%" class="tabelBorderTopNull">&nbsp;Created Date</td>
                    <td width="58%" class="tabelBorderBottomJust">&nbsp;Name</td>
                    <td width="10%" valign="top"align="center" class="tabelBorderTopRightNull">Read</td>
                </tr>
                <tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">1</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 06, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust"><img src="../../picture/check-black.png" width="12" style="vertical-align:middle;"/></td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">2</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 06, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;YULIUS HAREFA                                     </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust"><img src="../../picture/check-black.png" width="12" style="vertical-align:middle;"/></td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">3</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 09, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust"><img src="../../picture/check-black.png" width="12" style="vertical-align:middle;"/></td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">4</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 09, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;YULIUS HAREFA                                     </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust"><img src="../../picture/check-black.png" width="12" style="vertical-align:middle;"/></td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">5</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 13, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ARIS SUTANTO                                      </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust"><img src="../../picture/check-black.png" width="12" style="vertical-align:middle;"/></td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">6</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 16, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ARIFAN HIDAYAT</td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust"><img src="../../picture/check-black.png" width="12" style="vertical-align:middle;"/></td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">7</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 14, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ARIFAN HIDAYAT</td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust"><img src="../../picture/check-black.png" width="12" style="vertical-align:middle;"/></td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">8</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 14, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ARIFAN HIDAYAT</td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust"><img src="../../picture/check-black.png" width="12" style="vertical-align:middle;"/></td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">9</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 16, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;AHMAD SAIPUL                                      </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust"><img src="../../picture/check-black.png" width="12" style="vertical-align:middle;"/></td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">10</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 16, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;HENDRA ROESLI                                     </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust"><img src="../../picture/check-black.png" width="12" style="vertical-align:middle;"/></td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">1</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 06, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust"><img src="../../picture/check-black.png" width="12" style="vertical-align:middle;"/></td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">2</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 06, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;YULIUS HAREFA                                     </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust"><img src="../../picture/check-black.png" width="12" style="vertical-align:middle;"/></td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">3</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 09, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust"><img src="../../picture/check-black.png" width="12" style="vertical-align:middle;"/></td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">4</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 09, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;YULIUS HAREFA                                     </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust"><img src="../../picture/check-black.png" width="12" style="vertical-align:middle;"/></td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">5</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 13, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ARIS SUTANTO                                      </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust"><img src="../../picture/check-black.png" width="12" style="vertical-align:middle;"/></td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">6</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 16, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ARIFAN HIDAYAT</td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust"><img src="../../picture/check-black.png" width="12" style="vertical-align:middle;"/></td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">7</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 14, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ARIFAN HIDAYAT</td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust"><img src="../../picture/check-black.png" width="12" style="vertical-align:middle;"/></td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">8</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 14, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ARIFAN HIDAYAT</td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust"><img src="../../picture/check-black.png" width="12" style="vertical-align:middle;"/></td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">9</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 16, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;AHMAD SAIPUL                                      </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust"><img src="../../picture/check-black.png" width="12" style="vertical-align:middle;"/></td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">10</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 16, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;HENDRA ROESLI                                     </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust"><img src="../../picture/check-black.png" width="12" style="vertical-align:middle;"/></td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;-------------</td>
					</tr>
            </table>
            </td>
            <td valign="top">
            <table width="350" border="0" cellpadding="0" cellspacing="0" class="tabelBorderAll">
            	<tr align="center" bgcolor="#E9E9E9" class="style3">
                	<td width="5%">No. </td>
                	<td width="24%" class="tabelBorderTopBottomNull">&nbsp;Created Date</td>
                    <td width="58%">&nbsp;Name</td>
                    <td width="10%" valign="top"align="center" class="tabelBorderLeftJust">Read</td>
                </tr>
            </table>
        </td></tr>
        </table>
        </td>
    </tr>
 
    </table>
    </td>
    
</tr>
<tr>
	<td height="30">&nbsp;</td>
</tr>

<tr style="page-break-after: left"></tr><tr>

<tr>
	<td>
    	<table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td><span class="style1">SAFETY OBSERVATION LOG SHEET</span></td>
        </tr>
        </table>
    </td>
</tr>
<tr><td height="25">&nbsp;</td></tr>
 
<tr>
	<td valign="top">
    	<table width="100%" border="0" cellpadding="0" cellspacing="0" class="style2">
    		<tr>
            	<td width="4%">&nbsp;Period</td>
                <td width="74%">: Mei 2014</td>
            </tr>
        </table>
    </td>
</tr>
<tr><td height="25">&nbsp;</td></tr>
<!-- END OF == JUDUL ===============================================================================-->
 
<tr>
	<td>
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
    	<td>
        <table align="center"><tr><td>
        	<!--<div style="width:350;margin-left:1;margin-top:1;float:left;">-->
            <table width="350" border="0" cellpadding="0" cellspacing="0" class="tabelBorderAll">
            	<tr align="center" bgcolor="#E9E9E9" class="style3">
                	<td width="5%" class="tabelBorderBottomJust">No. </td>
                	<td width="24%" class="tabelBorderTopNull">&nbsp;Created Date</td>
                    <td width="58%" class="tabelBorderBottomJust">&nbsp;Name</td>
                    <td width="10%" valign="top"align="center" class="tabelBorderTopRightNull">Read</td>
                </tr>
                <tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr>
                    <tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">1</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 06, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust"><img src="../../picture/check-black.png" width="12" style="vertical-align:middle;"/></td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">2</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 06, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;YULIUS HAREFA                                     </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust"><img src="../../picture/check-black.png" width="12" style="vertical-align:middle;"/></td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">3</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 09, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust"><img src="../../picture/check-black.png" width="12" style="vertical-align:middle;"/></td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">4</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 09, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;YULIUS HAREFA                                     </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust"><img src="../../picture/check-black.png" width="12" style="vertical-align:middle;"/></td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">5</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 13, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ARIS SUTANTO                                      </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust"><img src="../../picture/check-black.png" width="12" style="vertical-align:middle;"/></td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">6</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 16, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ARIFAN HIDAYAT</td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust"><img src="../../picture/check-black.png" width="12" style="vertical-align:middle;"/></td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">7</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 14, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ARIFAN HIDAYAT</td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust"><img src="../../picture/check-black.png" width="12" style="vertical-align:middle;"/></td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">8</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 14, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ARIFAN HIDAYAT</td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust"><img src="../../picture/check-black.png" width="12" style="vertical-align:middle;"/></td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">9</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 16, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;AHMAD SAIPUL                                      </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust"><img src="../../picture/check-black.png" width="12" style="vertical-align:middle;"/></td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">10</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 16, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;HENDRA ROESLI                                     </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust"><img src="../../picture/check-black.png" width="12" style="vertical-align:middle;"/></td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr><tr align="center" class="style5">
						<td width="5%" class="tdBorderLeftTopNull">11</td>
						<td width="24%" class="tdBorderLeftTopNull">&nbsp;May 21, 2014</td>
						<td width="58%" class="tdBorderLeftTopNull">&nbsp;ICHSANNUR YUPI SOGI                               </td>
						<td width="10%" valign="top"align="center" class="tdBorderBottomJust">&nbsp;</td>
					</tr>
            </table>
            </td>
            <td valign="top">
            <table width="350" border="0" cellpadding="0" cellspacing="0" class="tabelBorderAll">
            	<tr align="center" bgcolor="#E9E9E9" class="style3">
                	<td width="5%">No. </td>
                	<td width="24%" class="tabelBorderTopBottomNull">&nbsp;Created Date</td>
                    <td width="58%">&nbsp;Name</td>
                    <td width="10%" valign="top"align="center" class="tabelBorderLeftJust">Read</td>
                </tr>
            </table>
        
        
        </td></tr>
        </table>
        </td>
    </tr>
    </table>
    </td>
   
</tr>
<tr>
	<td height="30">&nbsp;</td>
</tr>
</table></center>
</body>
</html>
