<link href="../css/button.css" rel="stylesheet" type="text/css" />

<script language="javascript">
  window.onload = function () {
    refreshDataList();
  };

  function openThickboxWindow(id, aksi) {
    if (aksi == "import") {
      var panjang = 962 - 400;
      var tinggi = 560;
      document.getElementById("hrefThickbox").href =
        "templates/halImport.php?aksi=" +
        aksi +
        "&panjang=" +
        panjang +
        "&tinggi=" +
        tinggi +
        "&placeValuesBeforeTB_=savedValues&TB_iframe=true&height=" +
        tinggi +
        "&width=" +
        panjang +
        "&modal=true";
    }
    if (aksi == "verified") {
      var panjang = 962 - 400;
      var tinggi = 560;
      var namaKapal = document.getElementById("namaKapal").value;
      var hdsn = document.getElementById("hdsn").value;
      document.getElementById("hrefThickbox").href =
        "templates/halVerified.php?aksi=" +
        aksi +
        "&namaKapal=" +
        namaKapal +
        "&hdsn=" +
        hdsn +
        "&panjang=" +
        panjang +
        "&tinggi=" +
        tinggi +
        "&idData=" +
        id +
        "&placeValuesBeforeTB_=savedValues&TB_iframe=true&height=" +
        tinggi +
        "&width=" +
        panjang +
        "&modal=true";
    }

    document.getElementById("hrefThickbox").click();
  }

  function refreshDataList() {
    document.getElementById("iframeData").src = "";
    document.getElementById("iframeData").src = "templates/halDataList.php";

    document.getElementById("iframeDataInfo").src = "";
    document.getElementById("iframeDataInfo").src = "templates/halDataInfo.php";

    loading();

    btnAllDisabled();

    //btnEnabled("btnNewData", "database--plus.png", "NEW DATA");
    btnEnabled("btnImport", "document-import.png", "IMPORT");

    document.getElementById("lastUpdate").innerHTML = "";
    document.getElementById("lastExport").innerHTML = "";
    document.getElementById("lastImport").innerHTML = "";
    document.getElementById("infoAck").innerHTML = "";
    document.getElementById("infoAccept").innerHTML = "";
    document.getElementById("infoClose").innerHTML = "";

    document.getElementById("ackBy").innerHTML = "";
    document.getElementById("acceptBy").innerHTML = "";
    document.getElementById("closedBy").innerHTML = "";
  }

  function btnAllDisabled() {
    //btnDisabled("btnNewData", "database--plus.png", "NEW DATA");
    //btnDisabled("btnEditData", "pencil.png", "EDIT");
    btnDisabled("btnHapusData", "cross.png", "DELETE");
    btnDisabled("btnExportDoc", "drive-download.png", "DOWNLOAD");
    //btnDisabled("btnImportDoc", "document-import.png", "");

    btnDisabled("btnExport", "document-export.png", "EXPORT");
    btnDisabled("btnImport", "document-import.png", "IMPORT");
    btnDisabled("btnPrint", "printer.png", "PRINT");

    btnDisabled("btnAck", "traffic-light.png", "ACKNOWLEDGE");
    btnDisabled("btnVerified", "validation-valid-document.png", "VERIFIED");

    document.getElementById("printFull").disabled = true;
    document.getElementById("printFullNot").disabled = true;
  }

  function btnAllEnabled() {
    //btnEnabled("btnNewData", "database--plus.png", "NEW DATA");
    //btnEnabled("btnEditData", "pencil.png", "EDIT");
    btnEnabled("btnHapusData", "cross.png", "DELETE");
    btnEnabled("btnExportDoc", "drive-download.png", "DOWNLOAD");
    //btnEnabled("btnImportDoc", "document-import.png", "");

    btnEnabled("btnExport", "document-export.png", "EXPORT");
    btnEnabled("btnImport", "document-import.png", "IMPORT");
    btnEnabled("btnPrint", "printer.png", "PRINT");

    btnEnabled("btnAck", "traffic-light.png", "ACKNOWLEDGE");
    btnEnabled("btnVerified", "validation-valid-document.png", "VERIFIED");

    document.getElementById("printFull").disabled = false;
    document.getElementById("printFullNot").disabled = false;
  }

  function setelahTutup() {
    setTimeout(function () {
      parent.refreshDataList();
    }, 500);
  }

  function loading() {
    var frameData = window.frames["iframeData"];

    frameData.document.getElementById("loaderImg").style.visibility = "visible";
    frameData.document.getElementById("loaderImg").style.top = frameData
      .document.pageYOffset
      ? frameData.document.pageYOffset
      : frameData.document.body.scrollTop;
  }

  function loadingDataInfo() {
    var frameDataInfo = window.frames["iframeDataInfo"];

    frameDataInfo.document.getElementById("loaderImg").style.visibility =
      "visible";
    frameDataInfo.document.getElementById("loaderImg").style.top = frameDataInfo
      .document.pageYOffset
      ? frameDataInfo.document.pageYOffset
      : frameDataInfo.document.body.scrollTop;
  }

  function disableLeftClick() {
    if (event.button == 1) {
      alert("Please Wait...");
      return false;
    }
  }

  function enableLeftClick() {
    if (event.button == 1) {
      return true;
    }
  }

  function panggilEnableLeftClick() {
    document.onmousedown = enableLeftClick;
  }

  function pleaseWait() {
    document.getElementById("loaderImg").style.visibility = "visible";
  }

  function doneWait() {
    document.getElementById("loaderImg").style.visibility = "hidden";
  }

  function pilihRowDataList(idData) {
    // ENABLE DISABLE BUTTON
    btnAllEnabled();
    //var nmBtnNewData = document.getElementById('btnNewData').value;
    // UNTUK SAFIR HO ADA BEBERAPA BUTTON YANG DISABLED
    //btnDisabled("btnNewData", "database--plus.png", "NEW DATA");
    //btnDisabled("btnEditData", "pencil.png", "EDIT");
    btnDisabled("btnHapusData", "cross.png", "DELETE");

    document.getElementById("idData").value = idData;
    document.getElementById("iframeDataInfo").src = "";
    document.getElementById("iframeDataInfo").src =
      "templates/halDataInfo.php?aksi=pilihRow&idData=" +
      idData +
      "&pilihBahasa={pilihBahasa}";
    loadingDataInfo();
  }

  function btnDisabled(idButton, icon, text) {
    document.getElementById(idButton).disabled = true;
    document.getElementById(idButton).className = "btnStandarDis";
    document.getElementById(idButton).innerHTML =
      "<table class=fontBtnDis cellpadding=0 cellspacing=0 width=100% height=100%>" +
      "<tr>" +
      "    <td align=center width=22><img src='picture/" +
      icon +
      "'/> </td>" +
      "    <td align=left>" +
      text +
      "</td> " +
      "</tr>" +
      "</table>";
  }

  function btnEnabled(idButton, icon, text) {
    document.getElementById(idButton).disabled = false;
    document.getElementById(idButton).className = "btnStandar";
    document.getElementById(idButton).onmouseover = function onmouseover() {
      this.className = "btnStandarHover";
    };
    document.getElementById(idButton).onmouseout = function onmouseover() {
      this.className = "btnStandar";
    };

    document.getElementById(idButton).innerHTML =
      "<table class=fontBtn onMouseOver=this.className='fontBtnHover' onMouseOut=this.className='fontBtn' cellpadding=0 cellspacing=0 width=100% height=100%>" +
      "<tr>" +
      "    <td align=center width=22><img src='picture/" +
      icon +
      "'/> </td>" +
      "    <td align=left>" +
      text +
      "</td> " +
      "</tr>" +
      "</table>";
  }

  function klikBtnDelete() {
    var answer = confirm("Are you sure want to Delete Data?");
    if (answer) {
      pleaseWait();
      document.onmousedown = disableLeftClick;
      setTimeout(function () {
        var idData = document.getElementById("idData").value;
        var namaKapal = document.getElementById("namaKapal").value;
        var hdsn = document.getElementById("hdsn").value;
        document.getElementById("iframeData").src = "";
        document.getElementById("iframeData").src =
          "templates/halDataList.php?aksi=hapusData&idData=" +
          idData +
          "&namaKapal=" +
          namaKapal +
          "&hdsn=" +
          hdsn;
      }, 500);
    } else {
      return false;
    }
  }

  function klikBtnExport() {
    var answer = confirm("Are you sure want to Export Data?");
    if (answer) {
      pleaseWait();
      document.onmousedown = disableLeftClick;
      //parent.document.getElementById('idDivPleaseWait').style.visibility = "visible";
      //parent.document.getElementById('btnSaveInfo').disabled = true;
      setTimeout(function () {
        var idData = document.getElementById("idData").value;
        var namaKapal = document.getElementById("namaKapal").value;
        var hdsn = document.getElementById("hdsn").value;
        document.getElementById("iframeExport").src = "";
        document.getElementById("iframeExport").src =
          "templates/halExport.php?aksi=exportData&idData=" +
          idData +
          "&namaKapal=" +
          namaKapal +
          "&hdsn=" +
          hdsn;
      }, 500);
    } else {
      return false;
    }
  }

  function klikBtnExportDoc() {
    document.getElementById("pathFileExport").click();
  }

  function getValuesRadio(objName) {
    var nilai = "";
    var arr = new Array();
    arr = document.getElementsByName(objName);

    //alert("total objects with name \"textfield\" = \n" + arr.length);

    for (var i = 0; i < arr.length; i++) {
      var obj = document.getElementsByName(objName).item(i);
      var objChecked = document.getElementsByName(objName).item(i).checked;
      if (objChecked == true) {
        nilai = obj.id;
      }
      //alert(obj.id + " =  " + obj.value);
    }

    return nilai;
  }

  function klikBtnPrint() {
    var idData = document.getElementById("idData").value;
    var namaKapal = document.getElementById("namaKapal").value;
    var hdsn = document.getElementById("hdsn").value;
    var printReport = getValuesRadio("printReport");
    if (printReport == "printFull") {
      var left = screen.width / 2 - 1024 / 2;
      var top = screen.height / 2 - 768 / 2;

      window.open(
        "halPrint.php?aksi=printReport&idData=" +
          idData +
          "&namaKapal=" +
          namaKapal +
          "&hdsn=" +
          hdsn,
        "report",
        "titlebar=no, toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=" +
          screen.width +
          ", height=" +
          screen.height +
          ", top=" +
          top +
          ", left=" +
          left +
          ""
      );
    }
    if (printReport == "printFullNot") {
      document.getElementById("formPrint").action =
        "halPrint.php?aksi=printReport&idData=" +
        idData +
        "&namaKapal=" +
        namaKapal +
        "&hdsn=" +
        hdsn;
      formPrint.submit();
    }
  }

  function klikBtnAck() {
    var answer = confirm("Are you sure want to Give Acknowledge?");
    if (answer) {
      pleaseWait();
      document.onmousedown = disableLeftClick;

      var idData = document.getElementById("idData").value;
      var namaKapal = document.getElementById("namaKapal").value;
      var hdsn = document.getElementById("hdsn").value;
      document.getElementById("iframeDataInfo").src = "";
      document.getElementById("iframeDataInfo").src =
        "templates/halDataInfo.php?aksi=giveAck&idData=" +
        idData +
        "&namaKapal=" +
        namaKapal +
        "&hdsn=" +
        hdsn;
    } else {
      return false;
    }
  }

  function klikbtnVer() {
    var idData = document.getElementById("idData").value;
    openThickboxWindow(idData, "verified");
  }

  //alert('hahaha');
  //document.getElementById('ah').innerHTML = document.getElementById('ah').innerHTML.replace('NEW DATA', 'DATA BARU');
</script>

<style>
  .pleaseWait {
    position: absolute;
    width: 1010px;
    margin: 0 auto;
  }

  .isipleaseWait {
    width: 200px;
    padding: 4px;

    color: #333;
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
    height: 25px;
    background-color: #f4fbf4;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
</style>

<a class="thickbox" id="hrefThickbox"></a>
<a id="pathFileExport"></a>

<form
  method="post"
  name="formPrint"
  id="formPrint"
  target="Report"
  onSubmit="window.open('this.form.action', this.target, 'fullscreen=no, titlebar=no, toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no');"
></form>

<div class="wrap">
  <div id="loaderImg" style="visibility: hidden" class="pleaseWait">
    <div class="isipleaseWait tabelBorderAll">
      &nbsp;Please Wait...&nbsp;<img
        src="picture/loading (115).gif"
        height="12"
      />&nbsp;
    </div>
  </div>
  <!--<div class="loader" id="loaderImg" style="visibility:visible;"><img src="picture/loading (61).gif" height="10" style="position:relative;top:250px;"/></div>-->
  <div style="position: absolute; top: 373px; left: 10px">
    <table cellpadding="0" cellspacing="0">
      <tr>
        <td class="" align="right">
          <span
            style="
              font-style: italic;
              font-size: 11px;
              font-family: Arial;
              color: #006;
            "
            >:: INFORMATION ::</span
          >
        </td>
      </tr>
    </table>
  </div>
  <div style="position: absolute; top: 45px; left: 462px">
    <button
      class="btnStandar"
      onMouseOver="this.className='btnStandarHover'"
      onMouseOut="this.className='btnStandar'"
      style="width: 25px; height: 24px"
      onclick="refreshDataList();"
      title="REFRESH DATA LIST"
    >
      <table
        class="fontBtn"
        onMouseOver="this.className='fontBtnHover'"
        onMouseOut="this.className='fontBtn'"
        cellpadding="0"
        cellspacing="0"
        width="100%"
        height="100%"
      >
        <tr>
          <td align="center"><img src="picture/arrow-circle-315.png" /></td>
        </tr>
      </table>
    </button>
  </div>
  <div style="position: absolute; top: 40px; left: 512px">
    <button
      class="btnStandarDis"
      style="width: 107px; height: 25px"
      title="ACKNOWLEDGE DATA"
      onclick="klikBtnAck(); return false;"
      id="btnAck"
      value="GIVE ACKNOWLEDGE INFORMATION"
      disabled
    >
      <table
        class="fontBtnDis"
        cellpadding="0"
        cellspacing="0"
        width="100%"
        height="100%"
      >
        <tr>
          <td align="center" width="22">
            <img src="picture/traffic-light.png" />
          </td>
          <td align="left">ACKNOWLEDGE</td>
        </tr>
      </table>
    </button>
    <button
      class="btnStandarDis"
      style="width: 75px; height: 25px"
      title="VERIFIED DATA"
      onclick="klikbtnVer(); return false;"
      id="btnVerified"
      value="GIVE VERIFIED"
      disabled
    >
      <table
        class="fontBtnDis"
        cellpadding="0"
        cellspacing="0"
        width="100%"
        height="100%"
      >
        <tr>
          <td align="center" width="22">
            <img src="picture/validation-valid-document.png" />
          </td>
          <td align="left">VERIFIED</td>
        </tr>
      </table>
    </button>
  </div>

  <div class="namaAplikasi">SAFIR HO APPLICATION</div>
</div>

<div class="slmtDtgContainer">
  <input type="hidden" id="idData" name="idData" />
  <input type="hidden" id="namaKapal" name="namaKapal" />
  <input type="hidden" id="hdsn" name="hdsn" />
  <input type="hidden" id="fileExport" name="fileExport" value="{fileExport}" />
  <table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td align="center" class="" height="40">
        <table cellpadding="0" cellspacing="0" width="99%" class="">
          <tr>
            <td align="left" height="40">
              <button
                class="btnStandarDis"
                style="width: 66px; height: 30px"
                title="DELETE DATA"
                onclick="klikBtnDelete();"
                id="btnHapusData"
                disabled
              >
                <table
                  class="fontBtnDis"
                  cellpadding="0"
                  cellspacing="0"
                  width="100%"
                  height="100%"
                >
                  <tr>
                    <td align="center" width="22">
                      <img src="picture/cross.png" />
                    </td>
                    <td align="left">DELETE</td>
                  </tr>
                </table>
              </button>
              <button
                class="btnStandar"
                id="btnExport"
                onMouseOver="this.className='btnStandarHover'"
                onMouseOut="this.className='btnStandar'"
                style="width: 68px; height: 30px"
                title="EXPORT DATA"
                onclick="klikBtnExport();"
                disabled
              >
                <table
                  class="fontBtn"
                  onMouseOver="this.className='fontBtnHover'"
                  onMouseOut="this.className='fontBtn'"
                  cellpadding="0"
                  cellspacing="0"
                  width="100%"
                  height="100%"
                >
                  <tr>
                    <td align="center" width="22">
                      <img src="picture/document-export.png" />
                    </td>
                    <td align="left">EXPORT</td>
                  </tr>
                </table>
              </button>
              <button
                class="btnStandar"
                id="btnImport"
                onMouseOver="this.className='btnStandarHover'"
                onMouseOut="this.className='btnStandar'"
                style="width: 66px; height: 30px"
                title="IMPORT DATA"
                onclick="openThickboxWindow('', 'import');return false;"
                disabled
              >
                <table
                  class="fontBtn"
                  onMouseOver="this.className='fontBtnHover'"
                  onMouseOut="this.className='fontBtn'"
                  cellpadding="0"
                  cellspacing="0"
                  width="100%"
                  height="100%"
                >
                  <tr>
                    <td align="center" width="22">
                      <img src="picture/document-import.png" />
                    </td>
                    <td align="left">IMPORT</td>
                  </tr>
                </table>
              </button>
              <button
                class="btnStandarDis"
                style="width: 86px; height: 30px"
                title="DOWNLOAD EXPORT DOCUMENT"
                onclick="klikBtnExportDoc();"
                id="btnExportDoc"
                disabled
              >
                <table
                  class="fontBtnDis"
                  cellpadding="0"
                  cellspacing="0"
                  width="100%"
                  height="100%"
                >
                  <tr>
                    <td align="center" width="22">
                      <img src="picture/drive-download.png" />
                    </td>
                    <td align="left">DOWNLOAD</td>
                  </tr>
                </table>
              </button>
              <button
                class="btnStandar"
                id="btnPrint"
                onMouseOver="this.className='btnStandarHover'"
                onMouseOut="this.className='btnStandar'"
                style="width: 56px; height: 30px"
                title="PRINT REPORT"
                onclick="klikBtnPrint();"
                disabled
              >
                <table
                  class="fontBtn"
                  onMouseOver="this.className='fontBtnHover'"
                  onMouseOut="this.className='fontBtn'"
                  cellpadding="0"
                  cellspacing="0"
                  width="100%"
                  height="100%"
                >
                  <tr>
                    <td align="center" width="22">
                      <img src="picture/printer.png" />
                    </td>
                    <td align="left">PRINT</td>
                  </tr>
                </table>
              </button>
              <span
                style="vertical-align: bottom; cursor: pointer"
                title="Full screen print window"
              >
                <input
                  type="radio"
                  id="printFull"
                  name="printReport"
                  onclick=""
                  disabled
                /><img src="picture/blue-document-resize.png" />
              </span>
              <span
                style="vertical-align: bottom; cursor: pointer"
                title="Not Full screen print window"
              >
                <input
                  type="radio"
                  id="printFullNot"
                  name="printReport"
                  onclick=""
                  checked
                  disabled
                /><img src="picture/blue-document-resize-actual.png" />
              </span>
              <iframe
                width="0"
                height="0"
                id="iframeExport"
                style="position: absolute; right: 20px; top: 100px"
              ></iframe>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td align="center" valign="top">
        <table cellpadding="0" cellspacing="0" width="99%" height="100%">
          <tr>
            <td width="480" class="tabelBorderAll" valign="top">
              <table cellpadding="0" cellspacing="0" width="100%" height="100%">
                <tr
                  style="
                    background-color: #8a8a8a;
                    color: #f9f9f9;
                    font-family: Arial;
                    font-weight: bold;
                    font-size: 11px;
                  "
                >
                  <td width="7%" height="30" class="tabelBorderRightJust">
                    NO
                  </td>
                  <td width="32%" class="tabelBorderRightJust">
                    REPORT NUMBER
                  </td>
                  <td width="61%">VESSEL NAME</td>
                </tr>
                <tr align="center">
                  <td
                    colspan="3"
                    class=""
                    align="center"
                    valign="top"
                    height="288"
                  >
                    <iframe
                      width="100%"
                      height="100%"
                      src="templates/halDataList.php"
                      target="iframeData"
                      name="iframeData"
                      id="iframeData"
                      frameborder="0"
                      marginwidth="0"
                      marginheight="0"
                      scrolling="yes"
                      class=""
                    ></iframe>
                  </td>
                </tr>
              </table>
            </td>
            <td width="20">&nbsp;</td>
            <td rowspan="3" valign="top">
              <table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td height="30"></td>
                </tr>
                <tr>
                  <td height="462" class="tabelBorderAll">
                    <iframe
                      width="100%"
                      height="100%"
                      src="templates/halDataInfo.php"
                      target="iframeDataInfo"
                      name="iframeDataInfo"
                      id="iframeDataInfo"
                      frameborder="0"
                      marginwidth="0"
                      marginheight="0"
                      scrolling="yes"
                      class=""
                    ></iframe>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <tr>
            <td height="20"></td>
          </tr>
          <tr>
            <td class="tabelBorderAll" valign="top">
              <div
                style="
                  height: 140px;
                  overflow: scroll;
                  overflow-x: hidden;
                  top: expression(offsetParent.scrollTop);
                "
              >
                <table
                  cellpadding="0"
                  cellspacing="0"
                  width="100%"
                  height="100%"
                  style="
                    background-color: #f7f7f7;
                    color: #333;
                    font-family: Arial;
                    font-size: 12px;
                  "
                >
                  <tr align="left">
                    <td width="22%" height="20">&nbsp;<b>Vessel Name</b></td>
                    <td width="78%">
                      :&nbsp;&nbsp;<span
                        id="vesselName"
                        style="
                          border-style: none;
                          background-color: #f7f7f7;
                          width: 95%;
                          font-family: Arial;
                          font-size: 12px;
                        "
                      ></span>
                    </td>
                  </tr>
                  <tr align="left">
                    <td height="20">&nbsp;<b>Last Updated</b></td>
                    <td>
                      :&nbsp;&nbsp;<span
                        id="lastUpdate"
                        style="
                          border-style: none;
                          background-color: #f7f7f7;
                          width: 95%;
                          font-family: Arial;
                          font-size: 12px;
                        "
                      ></span>
                    </td>
                  </tr>
                  <tr align="left">
                    <td height="20">&nbsp;<b>Last Export</b></td>
                    <td>
                      :&nbsp;&nbsp;<span
                        id="lastExport"
                        style="
                          border-style: none;
                          background-color: #f7f7f7;
                          width: 95%;
                          font-family: Arial;
                          font-size: 12px;
                        "
                      ></span>
                    </td>
                  </tr>
                  <tr align="left">
                    <td height="20">&nbsp;<b>Last Import</b></td>
                    <td>
                      :&nbsp;&nbsp;<span
                        id="lastImport"
                        style="
                          border-style: none;
                          background-color: #f7f7f7;
                          width: 95%;
                          font-family: Arial;
                          font-size: 12px;
                        "
                      ></span>
                    </td>
                  </tr>
                  <tr align="left">
                    <td height="20">
                      &nbsp;<b>Acknowledge</b>&nbsp;<img
                        src="picture/question-white.png"
                        height="12"
                        style="cursor: pointer"
                        title="Know by Safety Com. rep's signature"
                        onMouseOver="this.style.background='red';"
                        onMouseOut="this.style.background=''"
                        onClick=""
                      />
                    </td>
                    <td>
                      :&nbsp;&nbsp;<span
                        id="infoAck"
                        style="
                          border-style: none;
                          background-color: #f7f7f7;
                          width: 95%;
                          font-family: Arial;
                          font-size: 14px;
                          color: #006;
                          font-weight: bold;
                        "
                      ></span
                      >&nbsp;&nbsp;<i id="ackBy"></i>
                    </td>
                  </tr>
                  <tr align="left">
                    <td height="20">
                      &nbsp;<b>Accept</b>&nbsp;<img
                        src="picture/question-white.png"
                        height="12"
                        style="cursor: pointer"
                        title="Verification Corrective & Preventive Action Proposal"
                        onMouseOver="this.style.background='red';"
                        onMouseOut="this.style.background=''"
                        onClick=""
                      />
                    </td>
                    <td>
                      :&nbsp;&nbsp;<span
                        id="infoAccept"
                        style="
                          border-style: none;
                          background-color: #f7f7f7;
                          width: 95%;
                          font-family: Arial;
                          font-size: 14px;
                          color: #006;
                          font-weight: bold;
                        "
                      ></span
                      >&nbsp;&nbsp;<i id="acceptBy"></i>
                    </td>
                  </tr>
                  <tr align="left">
                    <td height="20">
                      &nbsp;<b>Closed</b>&nbsp;<img
                        src="picture/question-white.png"
                        height="12"
                        style="cursor: pointer"
                        title="Verification Result"
                        onMouseOver="this.style.background='red';"
                        onMouseOut="this.style.background=''"
                        onClick=""
                      />
                    </td>
                    <td>
                      :&nbsp;&nbsp;<span
                        id="infoClose"
                        style="
                          border-style: none;
                          background-color: #f7f7f7;
                          width: 95%;
                          font-family: Arial;
                          font-size: 14px;
                          color: #006;
                          font-weight: bold;
                        "
                      ></span
                      >&nbsp;&nbsp;<i id="closedBy"></i>
                    </td>
                  </tr>
                </table>
              </div>
            </td>
            <td>&nbsp;</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
