<script>
function openThickboxWindow(id, aksi)
{
	if(aksi == "detailSubordinateFolder")
	{
		document.getElementById('hrefThickbox').href="templates/halDetailOtherShare.php?ide="+id+"&placeValuesBeforeTB_=savedValues&TB_iframe=true&height=570&width=900&modal=true";
	}
	if(aksi == "detailSubordinateFile")
	{
		document.getElementById('hrefThickbox').href="templates/halDetailOtherShareFile.php?ide="+id+"&placeValuesBeforeTB_=savedValues&TB_iframe=true&height=570&width=900&modal=true";
	}
	if(aksi == "editSubordinateFile")
	{
		var idFold = document.getElementById('idFold').value;
		var foldSub = document.getElementById('foldSub').value;
		document.getElementById('hrefThickbox').href="templates/halEditSubordinateFile.php?ide="+id+"&idFold="+idFold+"&foldSub="+foldSub+"&placeValuesBeforeTB_=savedValues&TB_iframe=true&height=570&width=900&modal=true";
	}
	document.getElementById('hrefThickbox').click();
}

function exit()
{
	tb_remove(false);
	
	var appView = document.getElementById('appView').value;
	var userIdOwner = document.getElementById('userIdOwner').value;
	var foldSub = document.getElementById('foldSub').value;
	var idFold = document.getElementById('idFold').value;
	
	document.getElementById('iframeHalFolder').src = "";
	document.getElementById('iframeHalFolder').src = document.getElementById('srcIframeSek').value;
	
	if(appView == "sideList")
	{
		document.getElementById('idTdSideList').onmouseover = "";
		document.getElementById('idTdSideList').onmouseout = "";
		document.getElementById('idTdSideList').style.background='#EFEFEF';
		
		document.getElementById('iframeHalFolder').src = "templates/halSubordinateFolderSide.php";
			
			setTimeout(function()
			{
				window.frames['iframeHalFolder'].window.frames['halFolderSide1'].frameElement.src = "halSubordinateFolderSide1.php?userIdOwner="+userIdOwner+"&foldSub="+foldSub+"&idFoldRef="+idFold;
				window.frames['iframeHalFolder'].window.frames['halFolderSide2'].frameElement.src = "halSubordinateFolderSide2.php?userIdOwner="+userIdOwner+"&foldSub="+foldSub+"&idFold="+idFold;
				setTimeout(function()
				{
					window.frames['iframeHalFolder'].window.frames['halFolderSide1'].document.getElementById('btnKlikfold').click();
				},400);
				
			},300);
	}
}

function ajaxGetFold(id, aksi, halaman)
{
	var mypostrequest=new ajaxRequest()
	mypostrequest.onreadystatechange=function()
	{
		if (mypostrequest.readyState==4)
		{
			if (mypostrequest.status==200 || window.location.href.indexOf("http")==-1)
			{
				document.getElementById(halaman).innerHTML=mypostrequest.responseText;
			}
		}
	}
	
	if(aksi == "pilihBtnExpand")
	{	
		var parameters="halaman=pilihBtnExpandSubordinate&ide="+id;
	}
	if(aksi == "pilihTeksFoldName")
	{
		var parameters="halaman=pilihTeksFoldName&ide="+id;
	}
	
	mypostrequest.open("POST", "halPostFold.php", true);
	mypostrequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	mypostrequest.send(parameters);
}

function pilihBtnExpand(ide, foldSub, idFoldRef, tipeKonten)
{
	ajaxGetFold(ide, "pilihBtnExpand", "idHalTeksLvl");
	
	var foldSub = parseInt(foldSub) + 1;
	var userIdOwner = document.getElementById('userIdOwner').value;
	var appView = document.getElementById('appView').value;
		
	if(tipeKonten == "folder")
	{
		if(appView == "viewList")
		{
			document.getElementById('iframeHalFolder').src = "";
			document.getElementById('iframeHalFolder').src = "templates/halSubordinateFolderList.php?foldSub="+foldSub+"&idFoldRef="+idFoldRef+"&userIdOwner="+userIdOwner;
			document.getElementById('srcIframeSek').value = "templates/halSubordinateFolderList.php?foldSub="+foldSub+"&idFoldRef="+idFoldRef+"&userIdOwner="+userIdOwner;
		}
		if(appView == "viewIcon")
		{
			document.getElementById('iframeHalFolder').src = "";
			document.getElementById('iframeHalFolder').src = "templates/halSubordinateFolderIconList.php?foldSub="+foldSub+"&idFoldRef="+idFoldRef+"&userIdOwner="+userIdOwner;
			document.getElementById('srcIframeSek').value = "templates/halSubordinateFolderIconList.php?foldSub="+foldSub+"&idFoldRef="+idFoldRef+"&userIdOwner="+userIdOwner;
		}
		if(appView == "sideList")
		{
		}
		document.getElementById('tipeKonten').value = "folder";
	}
	else if(tipeKonten == "file")
	{
		if(appView == "viewList")
		{
			document.getElementById('iframeHalFolder').src = "";
			document.getElementById('iframeHalFolder').src = "templates/halSubordinateFileList.php?aksi=expand&foldSub="+foldSub+"&idFold="+idFoldRef+"&userIdOwner="+userIdOwner;
			document.getElementById('srcIframeSek').value = "templates/halSubordinateFileList.php?aksi=expand&foldSub="+foldSub+"&idFold="+idFoldRef+"&userIdOwner="+userIdOwner
		}
		if(appView == "viewIcon")
		{
			document.getElementById('iframeHalFolder').src = "";
			document.getElementById('iframeHalFolder').src = "templates/halSubordinateFileIconList.php?aksi=expand&foldSub="+foldSub+"&idFold="+idFoldRef+"&userIdOwner="+userIdOwner;
			document.getElementById('srcIframeSek').value = "templates/halSubordinateFileIconList.php?aksi=expand&foldSub="+foldSub+"&idFold="+idFoldRef+"&userIdOwner="+userIdOwner;
		}
		if(appView == "sideList")
		{
		}
		document.getElementById('tipeKonten').value = "file";
	}
	
	document.getElementById('idFold').value = idFoldRef;
	document.getElementById('foldSub').value = foldSub;
}

function pilihTeksFoldName(ide, foldSub, idFoldRef, tipeKonten)
{	
	ajaxGetFold(ide, "pilihBtnExpand", "idHalTeksLvl");
	
	document.getElementById('iframeHalFolder').src = "";
	var userIdOwner = document.getElementById('userIdOwner').value;
	var appView = document.getElementById('appView').value;
	
	if(tipeKonten == "folder")
	{
		if(appView == "viewList")
		{
			document.getElementById('iframeHalFolder').src = "templates/halSubordinateFolderList.php?foldSub="+foldSub+"&idFoldRef="+idFoldRef+"&userIdOwner="+userIdOwner;
			document.getElementById('srcIframeSek').value = "templates/halSubordinateFolderList.php?foldSub="+foldSub+"&idFoldRef="+idFoldRef+"&userIdOwner="+userIdOwner;
		}
		if(appView == "viewIcon")
		{
			document.getElementById('iframeHalFolder').src = "templates/halSubordinateFolderIconList.php?foldSub="+foldSub+"&idFoldRef="+idFoldRef+"&userIdOwner="+userIdOwner;
			document.getElementById('srcIframeSek').value = "templates/halSubordinateFolderIconList.php?foldSub="+foldSub+"&idFoldRef="+idFoldRef+"&userIdOwner="+userIdOwner;
		}
		if(appView == "sideList")
		{
			document.getElementById('iframeHalFolder').src = "templates/halSubordinateFolderSide.php";
			document.getElementById('srcIframeSek').value = "templates/halSubordinateFolderSide.php";
			
			setTimeout(function()
			{
				window.frames['iframeHalFolder'].window.frames['halFolderSide1'].frameElement.src = "halSubordinateFolderSide1.php?userIdOwner="+userIdOwner+"&foldSub="+foldSub+"&idFoldRef="+idFoldRef;
				setTimeout(function()
				{
					window.frames['iframeHalFolder'].window.frames['halFolderSide1'].document.getElementById('btnKlikfold').click();
				},400);
				
			},300);
		}
		document.getElementById('tipeKonten').value = "folder";
	}
	else if(tipeKonten == "file")
	{
		if(appView == "viewList")
		{
			document.getElementById('iframeHalFolder').src = "";
			document.getElementById('iframeHalFolder').src = "templates/halSubordinateFileList.php?aksi=expand&foldSub="+foldSub+"&idFold="+idFoldRef+"&userIdOwner="+userIdOwner;
		}
		if(appView == "viewIcon")
		{
			document.getElementById('iframeHalFolder').src = "";
			document.getElementById('iframeHalFolder').src = "templates/halSubordinateFileIconList.php?aksi=expand&foldSub="+foldSub+"&idFold="+idFoldRef+"&userIdOwner="+userIdOwner;
		}
		if(appView == "sideList")
		{
			document.getElementById('iframeHalFolder').src = "templates/halSubordinateFolderSide.php";
			
			setTimeout(function()
			{
				window.frames['iframeHalFolder'].window.frames['halFolderSide1'].frameElement.src = "halSubordinateFolderSide1.php?userIdOwner="+userIdOwner+"&foldSub="+foldSub+"&idFoldRef="+idFoldRef;
				window.frames['iframeHalFolder'].window.frames['halFolderSide2'].frameElement.src = "halSubordinateFolderSide2.php?userIdOwner="+userIdOwner+"&foldSub="+foldSub+"&idFold="+idFoldRef;
				setTimeout(function()
				{
					window.frames['iframeHalFolder'].window.frames['halFolderSide1'].document.getElementById('btnKlikfold').click();
				},400);
				
			},300);
		}
		document.getElementById('tipeKonten').value = "file";
	}
	
	document.getElementById('idFold').value = idFoldRef;
	document.getElementById('foldSub').value = foldSub;
}
function openPdf(filePdf)
{
	if(detectBrowser() == "MSIE")
	{
		window.showModalDialog("templates/halOpenPdf.php?filePdf="+filePdf, '_blank', 'resizable=1;dialogWidth:'+(screen.width - 400)+'px; dialogHeight:'+(screen.height - 100)+'px;status:0; center:yes');
	}
	if(detectBrowser() == "Firefox")
	{
		window.showModalDialog("halOpenPdf.php?filePdf="+filePdf, '_blank', 'resizable=1;dialogWidth:'+(screen.width - 400)+'px; dialogHeight:'+(screen.height - 100)+'px;status:0; center:yes');
	}
}

function refreshPage()
{
	var srcIframeSek = document.getElementById('srcIframeSek').value;
	document.getElementById('iframeHalFolder').src = srcIframeSek;
}

function klikAppView(aksi) // FUNCTION UNTUK KETIKA BUTTON VIEW DIPILIH ATAU BUTTON UNTUK GANTI VIEW DI IFRAMEHALFOLDER
{
	document.getElementById('idTdViewList').style.background='#666666';
	document.getElementById('idTdViewIcon').style.background='#666666';
	document.getElementById('idTdSideList').style.background='#666666';
	
	document.getElementById('idTdViewList').onmouseover = function onmouseover(){
				this.style.background='#EFEFEF';	}
	document.getElementById('idTdViewList').onmouseout = function onmouseout(){
				this.style.background='#666666';	}
				
	document.getElementById('idTdViewIcon').onmouseover = function onmouseover(){
				this.style.background='#EFEFEF';	}
	document.getElementById('idTdViewIcon').onmouseout = function onmouseout(){
				this.style.background='#666666';	}
				
	document.getElementById('idTdSideList').onmouseover = function onmouseover(){
				this.style.background='#EFEFEF';	}
	document.getElementById('idTdSideList').onmouseout = function onmouseout(){
				this.style.background='#666666';	}
				
	document.getElementById('imgRefresh').onclick = function onclick(){
				refreshPage();};
	document.getElementById('imgRefresh').onmouseover = function onmouseover(){
				this.style.backgroundColor='#FF888B';};
	document.getElementById('imgRefresh').style.cursor = 'pointer';
	
	var userIdOwner = document.getElementById('userIdOwner').value;	
	var foldSub = document.getElementById('foldSub').value; //direktori level folder (lvl 1,2, dst)
	var idFold = document.getElementById('idFold').value; // idfold folder
	var tipeKonten = document.getElementById('tipeKonten').value; //TIPE KONTEN DARI ISI IFRAMEHALFOLDER APAKAH FOLDER AYAU FILE
	
	var iframeHalFolder = "";
			
	if(aksi == "viewList")
	{	
		document.getElementById('idTdViewList').onmouseover = "";
		document.getElementById('idTdViewList').onmouseout = "";
		document.getElementById('idTdViewList').style.background='#EFEFEF';
		
		if(tipeKonten == "folder")
		{
			document.getElementById('iframeHalFolder').src = "templates/halSubordinateFolderList.php?userIdOwner="+userIdOwner+"&foldSub="+foldSub+"&idFoldRef="+idFold;
			document.getElementById('srcIframeSek').value = "templates/halSubordinateFolderList.php?userIdOwner="+userIdOwner+"&foldSub="+foldSub+"&idFoldRef="+idFold;
		}
		if(tipeKonten == "file")
		{
			document.getElementById('iframeHalFolder').src = "templates/halSubordinateFileList.php?foldSub="+foldSub+"&idFold="+idFold+"&userIdOwner="+userIdOwner;
			document.getElementById('srcIframeSek').value = "templates/halSubordinateFileList.php?foldSub="+foldSub+"&idFold="+idFold+"&userIdOwner="+userIdOwner;
		}
	}
	if(aksi == "viewIcon")
	{	
		document.getElementById('idTdViewIcon').onmouseover = "";
		document.getElementById('idTdViewIcon').onmouseout = "";
		document.getElementById('idTdViewIcon').style.background='#EFEFEF';

		if(tipeKonten == "folder")
		{
			document.getElementById('iframeHalFolder').src = "templates/halSubordinateFolderIconList.php?userIdOwner="+userIdOwner+"&foldSub="+foldSub+"&idFoldRef="+idFold;
			document.getElementById('srcIframeSek').value = "templates/halSubordinateFolderIconList.php?userIdOwner="+userIdOwner+"&foldSub="+foldSub+"&idFoldRef="+idFold;
		}
		if(tipeKonten == "file")
		{
			document.getElementById('iframeHalFolder').src = "templates/halSubordinateFileIconList.php?foldSub="+foldSub+"&idFold="+idFold+"&userIdOwner="+userIdOwner;
			document.getElementById('srcIframeSek').value = "templates/halSubordinateFileIconList.php?foldSub="+foldSub+"&idFold="+idFold+"&userIdOwner="+userIdOwner;
		}
	}
	if(aksi == "sideList")
	{	
		document.getElementById('idTdSideList').onmouseover = "";
		document.getElementById('idTdSideList').onmouseout = "";
		document.getElementById('idTdSideList').style.background='#EFEFEF';
		document.getElementById('imgRefresh').onclick = '&nbsp;';
		document.getElementById('imgRefresh').onmouseover = '&nbsp;';
		document.getElementById('imgRefresh').style.cursor = 'none;';
		
		var wktTungguBukFolder = Math.round(parseInt(document.getElementById('jmlFolder').value));
		var wktTunggu = (wktTungguBukFolder / 80)*1000;
		if(wktTungguBukFolder <= 100)
		{
			wktTunggu = 400;
		}
		
		if(tipeKonten == "folder")
		{
			document.getElementById('iframeHalFolder').src = "templates/halSubordinateFolderSide.php";
			document.getElementById('srcIframeSek').value = "templates/halSubordinateFolderSide.php";
			
			setTimeout(function()
			{
				window.frames['iframeHalFolder'].window.frames['halFolderSide1'].frameElement.src = "halSubordinateFolderSide1.php?userIdOwner="+userIdOwner+"&foldSub="+foldSub+"&idFoldRef="+idFold;
				setTimeout(function()
				{
					window.frames['iframeHalFolder'].window.frames['halFolderSide1'].document.getElementById('btnKlikfold').click();
				},wktTunggu);
				
			},300);
		}
		if(tipeKonten == "file")
		{
			document.getElementById('iframeHalFolder').src = "templates/halSubordinateFolderSide.php";
			
			setTimeout(function()
			{
				window.frames['iframeHalFolder'].window.frames['halFolderSide1'].frameElement.src = "halSubordinateFolderSide1.php?userIdOwner="+userIdOwner+"&foldSub="+foldSub+"&idFoldRef="+idFold;
				window.frames['iframeHalFolder'].window.frames['halFolderSide2'].frameElement.src = "halSubordinateFolderSide2.php?userIdOwner="+userIdOwner+"&foldSub="+foldSub+"&idFold="+idFold;
				setTimeout(function()
				{
					window.frames['iframeHalFolder'].window.frames['halFolderSide1'].document.getElementById('btnKlikfold').click();
				},wktTunggu);
				
			},300);
		}
	}
	
	document.getElementById('appView').value = aksi;
}
function frameSize(status)
{
	var heightFrame = document.getElementById('iframeHalFolder').height ;
	
	var heightFramePlus = heightFrame*2;
	var heightFrameMin = heightFrame/2;
	
	if(status == "down")
	{
		$("#iframeHalFolder").animate(
			{
				height: heightFramePlus
				
			}, 1000);
		document.getElementById('iframeHalFolder').height = heightFramePlus;
	}
	if(status == "up")
	{
		if(heightFrame != 304)
		{
			$("#iframeHalFolder").animate(
				{
					height: heightFrameMin
				}, 1000);
			document.getElementById('iframeHalFolder').height = heightFrameMin;
			
			if(heightFrameMin == 304)
			{
				$('#back-top').fadeOut();
			}
		}
	}
}
</script>

<a class="thickbox" id="hrefThickbox"></a>

<input type="hidden" id="userIdOwner" value="{userIdOwner}" />
<input type="hidden" id="srcIframeSek" value="{srcIframeSek}"/>
<input type="hidden" id="idFold" value="{idFold}"/>
<input type="hidden" id="foldSub" value="{foldSub}"/>
<input type="hidden" id="tipeKonten" value="folder"/>
<input type="hidden" id="appView" value="viewList"/>

<input type="hidden" id="jmlFolder" name="jmlFolder" value="10"/>

<table cellpadding="0" cellspacing="0" width="100%">
<tr>
	<td>
    	<!-- ############# TEKS PENUNJUK DOKUMEN -->
    	<table cellpadding="0" cellspacing="0" width="100%" height="100%" border="0">
        <tr>
            <td colspan="3" class="batasTitik" height="10"></td>
        </tr>
        <tr><td id="idHalTeksLvl" height="20">&nbsp;</td></tr>
        </table>
    </td>
</tr>

<tr><td height="5"></td></tr>

<tr>
	<td>
    	<!-- ############# IFRAME BERISI DOKUMEN -->
    	<table cellpadding="0" cellspacing="0" width="100%">
        <tr align="center" style="background-color:#666;color:#EFEFEF;font-family:sans-serif;font-size:18px;font-weight:bold;">
        	<td width="25%" align="left">
            <table cellpadding="0" cellspacing="0" width="100%">
                <tr align="center" valign="middle">
                    <td width="40">&nbsp;<img id="imgRefresh" src="../../picture/Button-Synchronize-blue-32.png" onMouseOver="this.style.backgroundColor='#FF888B';" onMouseOut="this.style.backgroundColor='#666';" style="cursor: pointer;" onclick="refreshPage();" title="Refresh Page"/></td>
                    <td width="40" id="idTdViewList" onclick="klikAppView('viewList')" bgcolor="#EFEFEF" style="cursor:pointer;" title=" View Lists">
                        <img src="../picture/Application-View-List-32.png" style="vertical-align:top;" height="25" border="0"/>
                    </td>
                    <td width="40" id="idTdViewIcon" onclick="klikAppView('viewIcon')" onMouseOver="this.style.backgroundColor='#EFEFEF';" onMouseOut="this.style.backgroundColor='#666';" style="cursor:pointer;" title=" View Icons">
                        <img src="../picture/Application-View-Icons-32.png" style="vertical-align:top;" height="25" border="0"/>
                    </td>
                    <td width="40" id="idTdSideList" onclick="klikAppView('sideList')" onMouseOver="this.style.backgroundColor='#EFEFEF';" onMouseOut="this.style.backgroundColor='#666';" style="cursor:pointer;" title=" View Side List">
                        <img src="../picture/Application-Side-List-32.png" style="vertical-align:top;" height="25" border="0"/>
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </table>
            </td>
        	<td width="50%" height="40">{judulList}</td>
            <td width="25%">&nbsp;</td>
        </tr>
        <tr>
        	<td colspan="3">
				<iframe width="100%" src="templates/halSubordinateFolderList.php?userIdOwner={userIdOwner}&foldSub={foldSub}&idFoldRef={idFoldRef}" height="304" target="iframeHalFolder" name="iframeHalFolder" id="iframeHalFolder" frameborder="0" marginwidth="0" marginheight="0" scrolling="yes"></iframe>
            </td>
        </tr>
        </table>
    </td>
</tr>
</table>