<!DOCTYPE html>
<html lang="eng">
<head>
<meta charset="utf-8" />
<title>ANDHIKA PORTAL</title>

<link href="../css/main.css" rel="stylesheet" type="text/css" />
<link href="../css/archives.css" rel="stylesheet" type="text/css" />
<link href="../css/thickbox.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="../js/jquery-1.4.3.js"></script>
<script type="text/javascript" src="../js/thickbox.js"></script>
<script type="text/javascript" src="../js/main.js"></script>

<link href="../data/menu_source/styles.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../data/menu_source/menu_jquery.js"></script>

</head>

<body>
<center>

<div class="headerLogo">
	<div class="bgWorld"></div>
    <div class="wrap">
        <div class="logo">
            <a href="#" title="Andhika Lines"><img src="../picture/AndhikaTransparentBkGndBlue.png" alt="Andhika Lines"></a> 
        </div> 
        
        <span class="textAndhika">Andhika Lines</span>   
    </div>
</div>

<div class="menuContainer">
    <div class="wrap">
    	<div class="welcome">{welcomeUsername} &nbsp;&nbsp;&nbsp;</div>
        <!--<ul class="nav">
            <li><a class="firLink" href="/" title="Home of Andhika Portal">Home</a></li>
            <!--<li><a class="firLink" href="../news/">News</a></li>-->{menuNews}
            <!--<li class="on"><a class="firLink" href="../archives/" title="Go to Typing Username and Password">Login</a></li>
            {menuSetting}
        </ul>-->
        
        <div id='cssmenu'>
        <ul>
        	{menuHome}
            {menuNews}
            {menuLogin}
        </ul>
        </div>
       
    </div>
</div>

<!-- INCLUDE BLOCK : CONTENT_TENGAH -->
</center>
</body>
</html>
