<!DOCTYPE HTML>
<html lang="eng">
<head>
<meta charset="utf-8" />
<title>ANDHIKA PORTAL</title>

<link href="../css/main.css" rel="stylesheet" type="text/css" />
<link href="../css/archives.css" rel="stylesheet" type="text/css" />
<link href="../css/thickbox.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="../js/jquery-1.4.3.js"></script>
<script type="text/javascript" src="../js/thickbox.js"></script>
<script type="text/javascript" src="../js/main.js"></script>

<link href="../data/menu_source/styles.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../data/menu_source/menu_jquery.js"></script>
<script type="text/javascript">
$(document).ready(function(){

	// hide #back-top first
	$("#back-top").hide();
	
	// fade in #back-top
	$(function () {
		$(window).scroll(function () {
			if ($(this).scrollTop() > 10) {
				$('#back-top').fadeIn();
			} else {
				$('#back-top').fadeOut();
			}
		});

		// scroll body to 0px on click
		$('#back-top a').click(function () {
			$('body,html').animate({
				scrollTop: 0
			}, 800);
			return false;
		});
	});

});
</script>
</head>

<body id="top">
<center>

<!--<div class="headerLogo">
	<div class="bgWorld"></div>
    <div class="wrap">
        <div class="logo">
            <a href="#" title="Andhika Lines"><img src="../picture/AndhikaTransparentBkGndBlue.png" alt="Andhika Lines"></a> 
        </div> 
        
        <span class="textAndhika">Andhika Lines</span>   
    </div>
</div>-->

<div class="menuContainerArchives">
    <div class="wrap">
    	<div class="welcome">{welcomeUsername} &nbsp;&nbsp;&nbsp;{spanLogout}</div>
        <!--<ul class="nav">
            <li title="tes"><a class="firLink" href="/" title="Home of Andhika Portal">Home</a></li>
            {menuNews}
            <li class="on"><a class="firLink" href="../archives/" title="Folder And Daily Activity">Archives</a></li>
            {menuApplication}
            {menuSetting}
        </ul>-->
       
       <div id='cssmenu'>
        <ul>
        	{menuHome}
            {menuNews}
            {menuArchives}           
            {menuApplication}
   			{menuSetting}
        </ul>
        </div>
    </div>
    
</div>

<form name="formLogout" method="post" action="../archives/index.php">
	<input type="hidden" id="aksi" name="aksi" value="logout" />
</form>

<!-- INCLUDE BLOCK : CONTENT_TENGAH -->
</center>
</body>
</html>
