<script type="text/javascript" src="js/payment.js"></script>

<link href="css/invReg.css" rel="stylesheet" type="text/css" />
<link href="css/button.css" rel="stylesheet" type="text/css" />
<link href="css/table.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
window.onload = function()
{
	windowDisplayPrepare();
	
	{disBtnIncoming}
	{disBtnInvProcess}
	{disBtnPayment}
	{disBtnOutgoing}
	{disBtnPrint}	
	
	{disBtnPayOutstanding}
	{disBtnPayPreppay}
	{disBtnPayBybatch}
	
	{disBtnPrepPayAssign}
	{disBtnPrepPayResetGrup}
}
</script>

<a class="thickbox" id="hrefThickbox"></a>

<div class="wrap">
	<div id="loaderImg" style="visibility:hidden;" class="pleaseWait">
    	<div class="isiPleaseWait tabelBorderAll">&nbsp;Please Wait...&nbsp;<img src="picture/loading (115).gif" height="12"/>&nbsp;</div>
    </div>
    <!--<div class="namaPage">:: INVOICE PROCESS PAGE ::</div>-->
  	<div class="namaAplikasi"> INVOICE REGISTER </div>
</div>

<div class="kotakInvReg">
	
    <div class="kotakBtnAtas">
    	<form method="post" action="index.php" id="formIncoming" style="display:none;">
        <input type="hidden" id="halaman" name="halaman" value="halIncoming" />
        </form>
        <form method="post" action="index.php" id="formProcess" style="display:none;">
        <input type="hidden" id="halaman" name="halaman" value="halProcessAck" />
        </form>
        <form method="post" action="index.php" id="formPayment" style="display:none;">
        <input type="hidden" id="halaman" name="halaman" value="halPaymentOutstanding"/>
        </form>
        <form method="post" action="index.php" id="formPaymentPrepare" style="display:none;">
        <input type="hidden" id="halaman" name="halaman" value="halPaymentPrepare"/>
        <input type="hidden" id="prepareByHidden" name="prepareByHidden" value="invoice"/>
        </form>
        <form method="post" action="index.php" id="formPaymentBatch" style="display:none;">
        <input type="hidden" id="halaman" name="halaman" value="halPaymentBatch"/>
        </form>
        <form method="post" action="index.php" id="formOutgoing">
        <input type="hidden" id="halaman" name="halaman" value="halOutgoing" />
        </form>
        <form method="post" action="index.php" id="formCari" style="display:none;">
        <input type="hidden" id="halaman" name="halaman" value="halCari"/>
        </form>
        <form method="post" action="index.php" id="formPrintDist" style="display:none;">
        <input type="hidden" id="halaman" name="halaman" value="halPrintDistribution"/>
        </form>
        <form method="post" action="index.php" id="formPaymentAddList" style="display:none;">
            <input type="hidden" id="halaman" name="halaman" value="halPaymentAddList"/>
        </form>
        <form method="post" action="index.php" id="formPaymentList">
        <input type="hidden" id="halaman" name="halaman" value="halPaymentList"/>
        </form>
        <button class="btnStandar" id="btnIncoming" title="INCOMING MAIL / DATA INVOICE" onclick="$('#formIncoming').submit();return false;">
            <table width="79" height="28">
            <tr>
                <td align="center" width="20"><img src="picture/documents-stack.png"/></td>
                <td align="left">INCOMING</td> 
            </tr>
            </table>
        </button>
        <button class="btnStandar" id="btnInvProcess" title="MAIL / DATA PROCESS" onclick="$('#formProcess').submit();return false;">
            <table width="77" height="28">
            <tr>
                <td align="center" width="20"><img src="picture/wand.png"/></td>
                <td align="left">INVOICE PROCESS</td> 
            </tr>
            </table>
        </button>
        <button class="btnStandarTabPilih" id="" title="PAYMENT TRANSACTION" onclick="return false;">
            <table width="77" height="29">
            <tr>
                <td align="center" width="20"><img src="picture/credit-cards.png"/></td>
                <td align="left">PAYMENT</td> 
            </tr>
            </table>
        </button>
        <button id="btnPaymentListAdd" class="btnStandar" title="PAYMENT LIST" onclick="$('#formPaymentList').submit();return false;">
            <table width="100" height="28">
              <tr>
                <td align="center" width="20"><img src="picture/document-sticky-note.png"/> </td>
                <td align="left">PAYMENT LIST</td>
              </tr>
            </table>
        </button>
        <button class="btnStandar" id="btnOutgoing" title="OUTGOING MAIL / DATA INVOICE" onclick="$('#formOutgoing').submit();return false;">
            <table width="81" height="28">
            <tr>
                <td align="center" width="20"><img src="picture/document-export.png"/></td>
                <td align="left">OUTGOING</td> 
            </tr>
            </table>
        </button>
        <button class="btnStandar" id="btnPrint" title="PRINT MAIL / DATA INVOICE" onclick="$('#formPrintDist').submit();return false;">
            <table width="58" height="28">
              <tr>
                <td align="center" width="20"><img src="picture/printer.png"/> </td>
                <td align="left">PRINT</td>
              </tr>
            </table>
        </button>
        <button id="btnSearch" class="btnStandar" title="SEARCHING DATA" onclick="$('#formCari').submit();return false;">
            <table width="70" height="28">
              <tr>
                <td align="center" width="20"><img src="picture/magnifier.png"/> </td>
                <td align="left">SEARCH</td>
              </tr>
            </table>
        </button>
    </div>
    
    <div class="kotakBtnTengah">
        <input type="hidden" id="idMailInv" name="idMailInv"/>
        <input type="hidden" id="jenisPayment" name="jenisPayment" value="prepare"/>
        <input type="hidden" id="jmlRowGrup" name="jmlRowGrup" value="0"/>
        <input type="hidden" id="lastTransNo" name="lastTransNo" value="{lastTransNo}"/>
        
        <input type="hidden" id="senVenGrupPertama" name="senVenGrupPertama"/>
        <input type="hidden" id="kreditAccGrupPertama" name="kreditAccGrupPertama"/>
        <input type="hidden" id="billCompGrupPertama" name="billCompGrupPertama"/>
        <input type="hidden" id="currencyGrupPertama" name="currencyGrupPertama"/>
        
        <input type="hidden" id="senVenPrepPilih" name="senVenPrepPilih"/>
        <input type="hidden" id="kreditAccGrupPilih" name="kreditAccGrupPilih"/>
        <input type="hidden" id="billCompPrepPilih" name="billCompPrepPilih"/>
        <input type="hidden" id="currencyPrepPilih" name="currencyPrepPilih"/>
        <button id="btnPayOutstanding" class="btnStandar" title="OUTSTANDING INVOICE" onclick="$('#formPayment').submit();return false;">
            <table width="144" height="24" border="0">
            <tr>
                <td align="center" width="20"><img src="picture/document-task.png"/></td>
                <td align="left">OUTSTANDING INVOICE</td> 
            </tr>
            </table>
        </button>
        <button id="btnPayPreppay" class="btnStandarTabPilih" title="PREPARE FOR PAYMENT" onclick="return false;">
            <table width="153" height="25" border="0">
              <tr>
                <td align="center" width="20"><img src="picture/document--arrow.png"/> </td>
                <td align="left">PREPARE FOR PAYMENT</td>
              </tr>
            </table>
        </button>
        <button id="btnPayBybatch" class="btnStandar" title="PAYMENT BY BATCH" onclick="$('#formPaymentBatch').submit();return false;">
            <table width="130" height="24" border="0">
              <tr>
                <td align="center" width="20"><img src="picture/money.png"/> </td>
                <td align="left">PAYMENT BY BATCH</td>
              </tr>
            </table>
        </button>
        <button id="btnPayBybatch" class="btnStandar" title="ADD PAYMENT" onclick="$('#formPaymentAddList').submit();return false;">
            <table width="70" height="24" border="0">
              <tr>
                <td align="left" style="font-size:9px;">ADD PAYMENT</td>
              </tr>
            </table>
        </button>
        |
        <!--<button id="btnPayOutDetail" class="btnStandarDis" title="DETAIL OUTSTANDING INVOICE" onclick="openThickboxWindow('klikBtnPayOutDetail');return false;" disabled>
            <table width="64" height="24" border="0">
              <tr>
                <td align="center" width="20"><img src="picture/document-text.png"/> </td>
                <td align="left">DETAIL</td>
              </tr>
            </table>
        </button>-->
        <button class="btnStandar" id="btnRefresh" title="" onclick="$('#formPaymentPrepare').submit();return false;">
            <table width="76" height="24">
            <tr>
                <td align="center" width="20"><img src="picture/arrow-circle-315.png"/></td>
                <td align="left">REFRESH</td> 
            </tr>
            </table>
        </button>
    </div>
    
    <div id="idTeksMap" class="kotakTeksMap">{teksMap}</div>

    <div class="kotakIframe" style="border-style:dotted;">   
    
		<div style="position:inherit; border: solid 0px #CCC; top:5px; left:5px; text-align:left;">
            <table width="500" cellpadding="0" cellspacing="0" style="font-family:sans-serif;font-weight:bold;color:#485a88;">
            <tr align="left">
                <td width="" valign="bottom"><span style="font-size:11px;vertical-align:bottom;">PREPARE BY&nbsp;</span>
                    <select id="prepareBy" name="prepareBy" class="elementMenu" style="width:135px;position:relative;color:#485a88;" onchange="windowDisplayPrepare();">
                        <option value="invoice" {selInv}>INVOICE NUMBER</option>
                        <option value="barcode" {selBar}>BARCODE</option>
                    </select>&nbsp;
                    <button class="btnStandar" id="btnCariPrepare" title="" onclick="klikBtnCariPrep();">
                        <table cellpadding="0" cellspacing="0" width="24" height="19">
                        <tr>
                            <td align="center" valign="bottom"><img src="picture/magnifier.png" height="14" /></td>
                        </tr>
                        </table>
                    </button>
                    <input type="text" id="elementCariPrep" name="elementCariPrep" class="elementInput" onkeyup="ketikElementCariPrep(this.value);" style="vertical-align:bottom;width:100px;visibility:hidden;">  
                </td>
                <!--<td width="30">
                	<button class="btnStandar" id="btnCariPrepare" title="" onclick="klikBtnCariPrep();">
                        <table cellpadding="0" cellspacing="0" width="24" height="19">
                        <tr>
                            <td align="center" valign="bottom"><img src="picture/magnifier.png" height="14" /></td>
                        </tr>
                        </table>
                    </button>
                </td>
                <td width="453">
                <input type="text" id="elementCariPrep" name="elementCariPrep" class="elementInput" onkeyup="ketikElementCariPrep(this.value);" style="width:100px;visibility:hidden;">
                </td>-->
            </tr>
            </table>
        </div>  
        
        <div style="position:inherit; border: solid 1px #CCC; top:30px; left:5px;text-align:left;width:205px;height:418px;">        
            <iframe width="100%" height="100%" src="templates/halPrepareList.php" target="iframeList" name="iframeList" id="iframeList" frameborder="0" marginwidth="0" marginheight="0" scrolling="yes">
            </iframe>
        </div> 
        
        <div style="position:inherit; border: solid 0px #CCC; top:30px; left:220px;">
        <table width="500" cellpadding="0" cellspacing="0">
        <tr>
        	<td>
            	<div id="idCekIdMailInvSama" style="position:absolute;top:-30px;left:50px;z-index:10;"><input type="hidden" id="idMailInvSamaAdaTidak" value="kosong" size="10"></div>
                <div id="idCekAssignYesNo" style="position:absolute;top:-30px;left:150px;z-index:10;"><input type="hidden" id="assignYesNo" value="no" size="10"></div>
                <button class="btnStandarDis" id="btnPayPrepAddGroup" title="" onclick="klikBtnAddGroup();return false;" disabled>
                    <table width="104" height="24">
                    <tr>
                        <td align="center" width="20"><img src="picture/table--plus.png"/></td>
                        <td align="left">ADD TO GROUP</td> 
                    </tr>
                    </table>
                </button>
                <button class="btnStandar" id="btnPayPrepAssign" title="" onclick="klikBtnAssignTransNo();return false;">
                    <table width="140" height="24">
                    <tr>
                        <td align="center" width="20"><img src="picture/document-task.png"/></td>
                        <td align="left">ASSIGN TO TRANS. NO</td> 
                    </tr>
                    </table>
                </button>
                <button class="btnStandar" id="btnPayPrepResetGroup" title="" onclick="klikBtnResGroup();return false;">
                    <table width="101" height="24">
                    <tr>
                        <td align="center" width="20"><img src="picture/arrow-return-180-left.png"/></td>
                        <td align="left">RESET GROUP</td> 
                    </tr>
                    </table>
                </button>
            </td>
        </table>
        </div>
        
         
        
        <div style="position:inherit; border: solid 1px #CCC; top:61px; left:220px;background-color:#F9F9F9;">
       	  <table width="670" height="80" cellpadding="0" cellspacing="0" style="font:0.7em sans-serif;font-weight:bold;color:#485a88;">
            <tr>
                <td width="145" height="20" class="">&nbsp;SNO</td>
                <td width="523" class="elementTeks" id="sNo">&nbsp;</td>
            </tr>
            
            <tr>
                <td height="20" class="">&nbsp;SENDER / VENDOR NAME</td>
                <td class="elementTeks" id="credName">&nbsp;</td>
            </tr>
            <tr>
                <td height="20" class="">&nbsp;BILLING COMPANY</td>
                <td class="elementTeks" id="billComp">&nbsp;</td>
            </tr>
            <tr>
                <td height="20" class="">&nbsp;AMOUNT</td>
                <td class="elementTeks" id="amount">&nbsp;</td>
            </tr>
            </table>
        </div>
        
        <div style="position:inherit; border-bottom: dotted 1px #CCC; top:137px; left:220px;">
       	  <table width="760" cellpadding="0" cellspacing="0" style="font:0.7em sans-serif;font-weight:bold;color:#485a88;">
            <tr>
                <td class="">&nbsp;</td>
            </tr>
          </table>
        </div>
        
         <div style="position:inherit; border: solid 1px #CCC; top:160px; left:220px;background-color:#FFF;">
       	  <table width="200" height="40" cellpadding="0" cellspacing="0" style="font:0.7em sans-serif;font-weight:bold;color:#485a88;">
            <tr>
                <td width="110" height="20" class="" align="right">&nbsp;&nbsp;LAST TRANS. NO</td>
                <td width="90" class="elementTeks" id="">&nbsp;&nbsp;[ {lastTransNo} ]</td>
            </tr>
            </table>
		</div>
        <!--font:0.8em sans-serif; width:230px; line-height:40px; color:#096; text-align:center; font-weight:bold; background-color:#FFF;margin-left:0px;border-style:none; border-width:0px;-->
        <div style="position:inherit; border: solid 1px #CCC; width:200px; height:40px; top:160px; left:430px; text-align:center; background-color:#FFF;">
        	<div id="statusData" class="" style="font:0.8em sans-serif; line-height:40px; font-weight:bold;">{statusData}</div>
        </div>
        
        <span style="position:inherit;top:210px;left:220px; font:0.7em sans-serif;font-weight:bold;color:#485a88;">PAYMENT GROUPINGS</span>
        <img style="position:inherit;top:209px;left:337px;" src="picture/arrow-315-medium.png"/>
        
      	<div style="position:inherit; border: solid 1px #CCC;top:225px; left:220px;width:670px;height:52px;">
        	<iframe width="670" height="52" src="templates/halPrepareList.php?aksi=header" target="iframeList2" name="iframeList2" id="iframeList2" frameborder="0" marginwidth="0" marginheight="0" scrolling="yes">
            </iframe>
        </div>
        
		<span style="position:inherit;top:286px;left:220px; font:0.7em sans-serif;font-weight:bold;color:#485a88;">GROUPED ITEMS</span>
        <img style="position:inherit;top:285px;left:307px;" src="picture/arrow-315-medium.png"/>
        
        <div style="position:inherit; border: solid 1px #CCC;bottom:6px; left:220px;width:760px;height:146px;">
    	<iframe width="100%" height="146" src="templates/halPrepareList.php?aksi=groupItem" target="iframeList3" name="iframeList3" id="iframeList3" frameborder="0" marginwidth="0" marginheight="0" scrolling="yes"></iframe>
         </div> 
       
    </div>
</div>