<script type="text/javascript" src="../../calendar/dhtmlgoodies_calendar/dhtmlgoodies_calendar.js"></script>
<script type="text/javascript" src="js/payment.js"></script>
<script type="text/javascript" src="js/masks.js"></script>

<link rel="stylesheet" type="text/css" href="../../calendar/dhtmlgoodies_calendar/dhtmlgoodies_calendar.css" media="screen"></LINK>

<script type="text/javascript">
window.onload = function()
{	
	windowDisplayBatch();
	
	{disBtnIncoming}
	{disBtnInvProcess}
	{disBtnPayment}
	{disBtnOutgoing}
	{disBtnPrint}
	
	{disBtnPayOutstanding}
	{disBtnPayPreppay}
	{disBtnPayBybatch}	
	
	{disBtnBatchRetBatch}
	{disBtnPayTransAcct}
	{disBtnPayPrintVoucher}
}
function closeFormUploadTransfer()
{
    tb_remove(false);
    klikBtnRetBatch();
    //$('#formPaymentBatch').submit();
}
</script>

<a class="thickbox" id="hrefThickbox"></a>

<div class="wrap">
	<div id="loaderImg" style="visibility:hidden;" class="pleaseWait">
    	<div class="isiPleaseWait tabelBorderAll">&nbsp;Please Wait...&nbsp;<img src="picture/loading (115).gif" height="12"/>&nbsp;</div>
    </div>
    <!--<div class="namaPage">:: INVOICE PROCESS PAGE ::</div>-->
  	<div class="namaAplikasi"> INVOICE REGISTER </div>
</div>

<div class="kotakInvReg" style="height: 650px;">
	
    <div class="kotakBtnAtas">
    	<div style="width:100px;">
    	<form method="post" action="index.php" id="formIncoming" style="display:none;">
        <input type="hidden" id="halaman" name="halaman" value="halIncoming" />
        </form>
        <form method="post" action="index.php" id="formProcess" style="display:none;">
        <input type="hidden" id="halaman" name="halaman" value="halProcessAck" />
        </form>
        <form method="post" action="index.php" id="formPayment" style="display:none;">
        <input type="hidden" id="halaman" name="halaman" value="halPaymentOutstanding"/>
        </form>
        <form method="post" action="index.php" id="formPaymentPrepare" style="display:none;">
        <input type="hidden" id="halaman" name="halaman" value="halPaymentPrepare"/>
        </form>
        <form method="post" action="index.php" id="formPaymentBatch" style="display:none;">
        <input type="hidden" id="halaman" name="halaman" value="halPaymentBatch"/>
        </form>
        <form method="post" action="index.php" id="formOutgoing">
        <input type="hidden" id="halaman" name="halaman" value="halOutgoing" />
        </form>
        <form method="post" action="index.php" id="formCari" style="display:none;">
        <input type="hidden" id="halaman" name="halaman" value="halCari"/>
        </form>
        <form method="post" action="index.php" id="formPrintDist" style="display:none;">
        <input type="hidden" id="halaman" name="halaman" value="halPrintDistribution"/>
        </form>
        <form method="post" name="formPrintVoucher" id="formPrintVoucher" target="Report" onSubmit="window.open('this.form.action', this.target, 'fullscreen=no, titlebar=no, toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no');"></form>
        <form method="post" action="index.php" id="formPaymentAddList" style="display:none;">
            <input type="hidden" id="halaman" name="halaman" value="halPaymentAddList"/>
        </form>
        <form method="post" action="index.php" id="formPaymentList">
        <input type="hidden" id="halaman" name="halaman" value="halPaymentList"/>
        </form>        
        </div>
        
        <button class="btnStandar" id="btnIncoming" title="INCOMING MAIL / DATA INVOICE" onClick="$('#formIncoming').submit();return false;">
            <table width="79" height="28">
            <tr>
                <td align="center" width="20"><img src="picture/documents-stack.png"/></td>
                <td align="left">INCOMING</td> 
            </tr>
            </table>
        </button>
        <button class="btnStandar" id="btnInvProcess" title="MAIL / DATA PROCESS" onClick="$('#formProcess').submit();return false;">
            <table width="77" height="28">
            <tr>
                <td align="center" width="20"><img src="picture/wand.png"/></td>
                <td align="left">INVOICE PROCESS</td> 
            </tr>
            </table>
        </button>
        <button class="btnStandarTabPilih" id="" title="PAYMENT TRANSACTION" onClick="return false;">
            <table width="77" height="29">
            <tr>
                <td align="center" width="20"><img src="picture/credit-cards.png"/></td>
                <td align="left">PAYMENT</td> 
            </tr>
            </table>
        </button>
        <button id="btnPaymentListAdd" class="btnStandar" title="PAYMENT LIST" onclick="$('#formPaymentList').submit();return false;">
            <table width="100" height="28">
              <tr>
                <td align="center" width="20"><img src="picture/document-sticky-note.png"/> </td>
                <td align="left">PAYMENT LIST</td>
              </tr>
            </table>
        </button>
        <button class="btnStandar" id="btnOutgoing" title="OUTGOING MAIL / DATA INVOICE" onClick="$('#formOutgoing').submit();return false;">
            <table width="81" height="28">
            <tr>
                <td align="center" width="20"><img src="picture/document-export.png"/></td>
                <td align="left">OUTGOING</td> 
            </tr>
            </table>
        </button>
        <button class="btnStandar" id="btnPrint" title="PRINT MAIL / DATA INVOICE" onClick="$('#formPrintDist').submit();return false;">
            <table width="58" height="28">
              <tr>
                <td align="center" width="20"><img src="picture/printer.png"/> </td>
                <td align="left">PRINT</td>
              </tr>
            </table>
        </button>
        <button id="btnSearch" class="btnStandar" title="SEARCHING DATA" onClick="$('#formCari').submit();return false;">
            <table width="70" height="28">
              <tr>
                <td align="center" width="20"><img src="picture/magnifier.png"/> </td>
                <td align="left">SEARCH</td>
              </tr>
            </table>
        </button>
    </div>
    
    <div class="kotakBtnTengah">
    	<input type="hidden" id="barisTransno" name="barisTransno"/> <!-- // ID DARI TR YANG DIPILIH DI IFRAME TRANSNO DATA -->
        <input type="hidden" id="idMailInv" name="idMailInv"/>
        <input type="hidden" id="transNo" name="transNo"/>
        <input type="hidden" id="lastSelBank" name="lastSelBank"/>
        <input type="hidden" id="statusPaid" name="statusPaid"/>
        <input type="hidden" id="statusCancelPaid" name="statusCancelPaid"/>
        <input type="hidden" id="reasonStatusCancelHid" name="reasonStatusCancelHid"/>
        <!--<input type="hidden" id="bankCodeFirst" name="bankCodeFirst" value="{bankCodeFirst}"/>-->
        <input type="hidden" id="totalAmount"/>
        
        <input type="hidden" id="payTypeHid" name="payTypeHid"/>
        <input type="hidden" id="bankCodeHid" name="bankCodeHid"/>
        <input type="hidden" id="voucherHid" name="voucherHid"/>
        <input type="hidden" id="refHid" name="refHid"/>
        <input type="hidden" id="chequeNumberHid" name="chequeNumberHid"/>
<!--        <input type="text" id="cmpPaidByHid" name="cmpPaidByHid"/>-->
        <input type="hidden" id="datePaidHid" name="datePaidHid"/>
        <input type="hidden" id="currHid" name="currHid"/>
        <input type="hidden" id="amtConvHid" name="amtConvHid"/>
        <input type="hidden" id="currConvHid" name="currConvHid"/>
        <input type="hidden" id="adjAccHid" name="adjAccHid"/>
        <input type="hidden" id="adjAmtHid" name="adjAmtHid"/>
        <input type="hidden" id="paidToFromHid" name="paidToFromHid"/>
        
        <input type="hidden" id="aksesBtnPayTransAcct" value="{aksesBtnPayTransAcct}"/>
        <input type="hidden" id="aksesBtnPayPrintVoucher" value="{aksesBtnPayPrintVoucher}"/>
        <input type="hidden" id="aksesBtnCancelled" value="{aksesBtnCancelled}"/>
        <input type="hidden" id="dateToday" value="{datePaid}"/>       
        
        <input type="hidden" id="paidYesNo" value="no" size="10">
        <input type="hidden" id="paidOptYesNo" value="no" size="10">
        <input type="hidden" id="idViewFileNya" value=""/>
        <input type="hidden" id="idViewFileBuktiBayar" value=""/>
  
        <button id="btnPayOutstanding" class="btnStandar" title="OUTSTANDING INVOICE" onClick="$('#formPayment').submit();return false;">
            <table width="144" height="24" border="0">
            <tr>
                <td align="center" width="20"><img src="picture/document-task.png"/></td>
                <td align="left">OUTSTANDING INVOICE</td> 
            </tr>
            </table>
        </button>
        <button id="btnPayPreppay" class="btnStandar" title="PREPARE FOR PAYMENT" onClick="$('#formPaymentPrepare').submit();return false;">
            <table width="153" height="25" border="0">
              <tr>
                <td align="center" width="20"><img src="picture/document--arrow.png"/> </td>
                <td align="left">PREPARE FOR PAYMENT</td>
              </tr>
            </table>
        </button>
        <button id="btnPayBybatch" class="btnStandarTabPilih" title="PAYMENT BY BATCH" onClick="return false;">
            <table width="130" height="25" border="0">
              <tr>
                <td align="center" width="20"><img src="picture/money.png"/> </td>
                <td align="left">PAYMENT BY BATCH</td>
              </tr>
            </table>
        </button>
        <button id="btnPayBybatch" class="btnStandar" title="ADD PAYMENT" onclick="$('#formPaymentAddList').submit();return false;">
            <table width="70" height="24" border="0">
              <tr>
                <td align="left" style="font-size:9px;">ADD PAYMENT</td>
              </tr>
            </table>
        </button>
        |
        <button class="btnStandar" id="btnRefresh" title="" onClick="$('#formPaymentBatch').submit();return false;">
            <table width="76" height="24">
            <tr>
                <td align="center" width="20"><img src="picture/arrow-circle-315.png"/></td>
                <td align="left">REFRESH</td> 
            </tr>
            </table>
        </button>
    </div>
    
    <div id="idTeksMap" class="kotakTeksMap">{teksMap}</div>
    
    <div class="kotakIframe" style="border-style:dotted; height: 650px;"> 
        <!-- <span style="position:inherit;top:13px;left:5px; font:0.7em sans-serif;font-weight:bold;color:#485a88;">TRANS NO DATA</span>
        <img style="position:inherit;top:12px;left:92px;" src="picture/arrow-315-medium.png"/>-->
        <div style="position:inherit; border: solid 0px #CCC; top:5px; left:5px; text-align:left;">
            <table width="700" cellpadding="0" cellspacing="0" style="font-family:sans-serif;font-weight:bold;color:#485a88;">
            <tr align="left">
                <td width="115" valign="bottom"><span style="font-size:11px;vertical-align:bottom;">TRANS NO DATA&nbsp;</span>
                    <img style="position:relative;top:6px;left:-7px;" src="picture/arrow-315-medium.png"/>
                </td>
                <td>
                	<button class="btnStandar" id="btnCariPrepare" title="" onClick="klikBtnCariBatch();">
                        <table cellpadding="0" cellspacing="0" width="24" height="19">
                        <tr>
                            <td align="center" valign="bottom"><img src="picture/magnifier.png" height="14" title="Search by Invoice Number" /></td>
                        </tr>
                        </table>
                    </button>
                </td>
                <td width="558">
                	<input type="text" id="elementCariBatch" name="elementCariBatch" class="elementInput" onKeyUp="ketikElementCariBatch(this.value);" style="width:53px;visibility:hidden;" title="Search by Invoice Number">
                </td><!--
                <td width="95" class=""><span style="font-size:11px;vertical-align:middle;">LAST TRANS. NO</span></td>
                <td width="75" class="elementTeks">[{lastTransNo}]</td>
                <td width="95" class=""><span style="font-size:11px;vertical-align:middle;">NEXT TRANS. NO</span></td>
                <td width="218" class="elementTeks">[{nextTransNo}]</td>-->
            </tr>
            </table>
        </div>  
        
        <!--
        <div style="position:inherit;top:12px;left:140px;width:80px;height:15px;" class="">
        	<span style="position:inherit;left:0px;font:0.7em sans-serif;font-weight:bold;color:#485a88;">BY MONTH</span>
        	<img style="position:inherit;top:0px;left:58px;cursor:pointer;" width="13" src="picture/Arrow-sans-down-32.png" onmouseover="this.style.backgroundColor='#1582f5'" onmouseout="this.style.backgroundColor=''"/>
        </div>
        -->
        
        <div id="divIframeList" style="position:inherit; border: solid 1px #CCC; top:30px; left:5px;text-align:left;width:205px;height:395px;z-index:1;">        
            <iframe width="100%" height="100%" src="templates/halBatchList.php?aksi=displayTransNo" target="iframeList" name="iframeList" id="iframeList" frameborder="0" marginwidth="0" marginheight="0" scrolling="yes" style="z-index:0;">
            </iframe>
        </div> 
        
        <div style="position:absolute; left:5px;top:431px;width:207px;">
        	<table cellpadding="0" cellspacing="0" width="100%" style="font:0.7em sans-serif;font-weight:bold;color:#485a88;">
            <tr>
            	<td>
                	<button class="btnStandar" id="" title="First Page" onClick="klikBtnPageTransno('first');return false;">
                        <table cellpadding="0" cellspacing="0" width="17" height="17">
                        <tr>
                            <td align="center" valign="bottom"><img src="picture/control-skip-180.png" height="12" /></td>
                        </tr>
                        </table>
                    </button>
                    <button class="btnStandar" id="" title="Previous Page" onClick="klikBtnPageTransno('previous');return false;">
                        <table cellpadding="0" cellspacing="0" width="17" height="17">
                        <tr>
                            <td align="center" valign="bottom"><img src="picture/control-double-180.png" height="12" /></td>
                        </tr>
                        </table>
                    </button>&nbsp;
                    <select id="menuPageTransno" name="menuPageTransno" class="elementMenu" style="width:45px;" onChange="klikMenuPageTransno(this.value);return false;">
   					</select>&nbsp;Of <span id="maxPageTransno">&nbsp;</span>&nbsp;
                    <button class="btnStandar" id="" title="Next Page" onClick="klikBtnPageTransno('next');return false;">
                        <table cellpadding="0" cellspacing="0" width="17" height="17">
                        <tr>
                            <td align="center" valign="bottom"><img src="picture/control-double.png" height="12" /></td>
                        </tr>
                        </table>
                    </button>
                    <button class="btnStandar" id="" title="Last Page" onClick="klikBtnPageTransno('last');return false;">
                        <table cellpadding="0" cellspacing="0" width="17" height="17">
                        <tr>
                            <td align="center" valign="bottom"><img src="picture/control-skip.png" height="12" /></td>
                        </tr>
                        </table>
                    </button>
                </td>
            </tr>
            </table>
        	
        </div>
        
        <div style="position:inherit; border: solid 0px #CCC; top:3px; left:220px;">
        <table width="800" cellpadding="0" cellspacing="0" class="">
        <tr valign="top">
        	<td width="650" height="25" class="">
                <button class="btnStandarDis" id="btnRetBatch" title="" onClick="klikBtnRetBatch();return false;" disabled>
                    <table width="115" height="20">
                    <tr>
                        <td align="center" width="20"><img src="picture/table--plus.png"/></td>
                        <td align="left">RETRIEVE BATCH</td> 
                    </tr>
                    </table>
                </button>
                <button class="btnStandarDis" id="btnPaySave" title="" onClick="klikBtnSavePay();return false;" disabled>
                    <table width="50" height="20">
                    <tr>
                        <td align="center" width="20"><img src="picture/disk-black.png"/></td>
                        <td align="left">SAVE</td> 
                    </tr>
                    </table>
                </button>
                <button class="btnStandarDis" id="btnPayPrintVoucher" title="" onClick="klikBtnPrintVoucher();return false;" disabled>
                    <table width="111" height="20">
                    <tr>
                        <td align="center" width="20"><img src="picture/printer.png"/></td>
                        <td align="left">PRINT VOUCHER</td> 
                    </tr>
                    </table>
                </button>
                <button class="btnStandarDis" id="btnPayTransAcct" title="" onClick="klikBtnTranstoAcct();return false;" disabled>
                    <table width="129" height="20">
                    <tr>
                        <td align="center" width="20"><img src="picture/document-task.png"/></td>
                        <td align="left">TRANSFER TO ACCT</td> 
                    </tr>
                    </table>
                </button>
                <button class="btnStandarDis" id="btnCancelled" title="" onClick="klikBtnCancelled();return false;" disabled>
                    <table width="89" height="20">
                    <tr>
                        <td align="center" width="20"><img src="picture/arrow-return-180-left.png"/></td>
                        <td align="left">CANCELLED</td> 
                    </tr>
                    </table>
                </button>
                <button class="btnStandarDis" id="btnBuktiBayar" title="FILE BUKTI BAYAR" onClick="klikUploadBuktiBayar();return false;" disabled>
                    <table width="40" height="20">
                    <tr>
                        <td align="center" width="20"><img src="picture/arrowUpload.png"/></td>
                        <td align="left">UPLOAD</td> 
                    </tr>
                    </table>
                </button>
            </td>
            <td>
            	<div id="idErrorMsg" class="errorMsgInv" style="visibility:hidden;position:absolute; top:3px;"><img src="../picture/exclamation-red.png"/>&nbsp;<span>PESAN</span>&nbsp;</div>
            </td>
        </tr>
        
        </table>
        </div>
        
        <div style="position:inherit; border: solid 1px #CCC; top:30px; left:220px;background-color:#FFF;">
       	  <table width="510" height="160" cellpadding="0" cellspacing="0" style="font:0.7em sans-serif;font-weight:bold;color:#485a88;">
            <tr>
                <td height="22" class="">&nbsp;TRANS. NO</td>
                <td class="elementTeks" id="tdTransNo" style="font-size:12px;">&nbsp;</td>
            </tr>
            <tr valign="middle">
                <td width="152" height="22" class="">&nbsp;PAYMENT METHOD</td>
                <td width="356" class="elementTeks" id="">
                	<select id="payMethod" name="payMethod" class="elementMenu" style="width:135px;" onChange="klikPayMethod(this.value);return false;" disabled>
                    	<option value="XXX">-- PLEASE SELECT  --</option>
                        <option value="cheque" {}>CHEQUE</option>
                        <option value="transfer" {}>TRANSFER</option>
                        <option value="cash" {}>CASH</option>
                        
                    </select>
                </td>
            </tr>
            <tr valign="middle">
                <td height="22" class="">&nbsp;BANK</td>
                <td class="elementTeks" id="tdBankCode">
                	<select id="bankCode" name="bankCode" class="elementMenu" style="width:350px;" onChange="klikBankMenu(this.value);return false;" disabled>
                    <option value="XXX">-- PLEASE SELECT  --</option>
                        {bankCodeMenu}
                    </select>
                </td>
            </tr>
            <tr valign="middle">
                <td height="22" class="">&nbsp;VOUCHER NO</td>
                <td class="elementTeks" id="">
                	<input type="text" id="voucher" name="voucher" class="elementInput" style="width:60px;" maxlength="5" disabled>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span style="font:1em sans-serif;font-weight:bold;color:#485a88;">PAID TO/FROM</span>&nbsp;
                   <input type="text" id="paidToFrom" name="paidToFrom" class="elementInput" style="width:165px;" disabled>
                </td>
            </tr>
            <tr valign="middle">
                <td height="22" class="">&nbsp;REFERENCE NO</td>
                <td class="elementTeks" id="">
                	<input type="text" id="reference" name="reference" class="elementInput" style="width:60px;" maxlength="5" disabled>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span style="font:1em sans-serif;font-weight:bold;color:#485a88;">CHEQUE NO</span>&nbsp;
                    <input type="text" id="chequeNumber" name="chequeNumber" class="elementInput" style="width:182px;" maxlength="12" disabled>
                </td>
            </tr>
            <tr valign="middle">
                <td height="22" class="">&nbsp;PAID BY (<span style="color:#B7B700;">OPTIONAL</span>)</td>
                <td class="elementTeks" id="tdPaidBy">
                	<select id="cmpPaidBy" name="cmpPaidBy" class="elementMenu" style="width:254px;" onchange="klikPaidByMenu(this.value);return false;" disabled>
                        <option value="XXX">-- PLEASE SELECT --</option>
                        {menuCmp}
                    </select>
                </td>
            </tr>
            <tr valign="middle">
                <td height="22" class="">&nbsp;DATE PAID</td>
                <td class="">
					 <input type="text" name="datePaid" id="datePaid" class="elementInput" style="width:60px;" disabled/>
                     <img src="../../picture/calendar.gif" class="gayaKalender" title="Select Date" onClick="displayCalendar(document.getElementById('datePaid'),'dd/mm/yyyy',this, '', '', '193', '183');" id="imgCalDatePaid" disabled/>&nbsp;<span class="spanKalender">(DD/MM/YYYY)</span>
				</td>
            </tr>
            <tr valign="middle">
                <td height="22" class="">&nbsp;AMOUNT TO BE PAID</td>
                <td class="elementTeks" id="">
                	<input type="text" id="amtConv" name="amtConv" class="elementInput" style="width:120px;text-align:right;vertical-align:middle;" onKeyUp="hanyaAngkaAmtConv();return false;" disabled>
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font:1em sans-serif;font-weight:bold;color:#485a88;">CURR</span>&nbsp;
                   <select id="currency" name="currency" class="elementMenu" style="width:165px;vertical-align:middle;">
                   <option value="XXX">-- PLEASE SELECT  --</option>{menuCurrency}</select>
                </td>
            </tr>
            <tr valign="middle" id="trAdjusment" style="display:none;">
                <td height="22" class="">&nbsp;ADJUSTMENT ACCOUNT</td>
                <td class="elementTeks" id=""><input type="text" id="adjAcc" name="adjAcc" class="elementInput" style="width:60px;" maxlength="5" disabled>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   <span style="font:1em sans-serif;font-weight:bold;color:#485a88;">ADJUSTMENT AMOUNT</span>&nbsp;
                   <input type="text" id="adjAmt" name="adjAmt" class="elementInput" style="width:120px;text-align:right;" disabled>
                </td>
            </tr>
            <tr><td height="3"></td></tr>
            </table>
        </div>
        
        <div id="divStatusPaid" style="position:inherit; border: solid 1px #CCC; top:30px; left:740px;background-color:#FFF;visibility:hidden;">
       	  <table width="240" height="50" cellpadding="0" cellspacing="0" style="font:0.7em sans-serif;">
            <tr>
                <td align="center" class="" style="font-size:30px;color:#096;font-weight:bold;">PAID</td>
            </tr>
            </table>
        </div>
        
        <div id="divStatusCancel" style="position:inherit; border: solid 1px #CCC; top:30px; left:740px;background-color:#FFF;visibility:hidden;">
       	  <table width="240" height="120" cellpadding="0" cellspacing="0" style="font:0.7em sans-serif;">
            <tr>
                <td align="center" class="" style="font-size:30px;color:#096;font-weight:bold;">CANCELLED</td>
            </tr>
            <tr>
            	<td style="font-weight:bold;color:#485a88;">&nbsp;&nbsp;REASON</td>
            </tr>
            <tr>
            	<td align="center"><textarea id="reasonStatusCancel" class="elementInput" cols="40" style="height:50px;" readonly="readonly"></textarea></td>
            </tr>
            </table>
        </div>
        
        <span style="position:inherit;top:238px;left:220px; font:0.7em sans-serif;font-weight:bold;color:#485a88;">PAYMENT GROUPINGS</span>
        <img style="position:inherit;top:237px;left:337px;" src="picture/arrow-315-medium.png"/>
        
      	<div style="position:inherit; border: solid 1px #CCC;top:253px; left:220px;width:760px;height:50px;">
        	<iframe width="760" height="50" src="" target="iframeList2" name="iframeList2" id="iframeList2" frameborder="0" marginwidth="0" marginheight="0" scrolling="yes">
            </iframe>
        </div>
        
		<span style="position:inherit;top:309px;left:220px; font:0.7em sans-serif;font-weight:bold;color:#485a88;">GROUPED ITEMS</span>
        <img style="position:inherit;top:308px;left:307px;" src="picture/arrow-315-medium.png"/>
        
        <div id="idList3" style="position:inherit; border: solid 1px #CCC;top:324px; left:220px;width:760px;height:125px;">
            <iframe width="100%" height="125px" src="" target="iframeList3" name="iframeList3" id="iframeList3" frameborder="0" marginwidth="0" marginheight="0" scrolling="yes"></iframe>
        </div>
        <div id="idList4" style="position:inherit; border: solid 1px #CCC;top:450px; left:220px;width:760px;height:50px;">
            <iframe width="760" height="100" src="" target="iframeList4" name="iframeList4" id="iframeList4" frameborder="0" marginwidth="0" marginheight="0" scrolling="yes">
            </iframe>
        </div>

       
    </div>
    
</div>