<html>
<script language="javascript">
function printpr()
{
	var OLECMDID =7;
	/* OLECMDID values:
	* 6 - print
	* 7 - print preview
	* 1 - open window
	* 4 - Save As
	*/
	
	var PROMPT = 1; // 2 DONTPROMPTUSER
	var WebBrowser = '<OBJECT ID="WebBrowser1" WIDTH=0 HEIGHT=0 CLASSID="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2"></OBJECT>';
	document.body.insertAdjacentHTML('beforeEnd', WebBrowser);
	
	WebBrowser1.ExecWB(OLECMDID, PROMPT); 
	WebBrowser1.outerHTML = "";
} 


function printWindow( winObj ){
  var msg = 'Would you like to preview your print request?';
  if(confirm(msg)){
    winObj.printpreview();
  } else {
    winObj.print();    
  }
}
</script>
<!--<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="../js/main.js"></script>-->

<style>
	#idFontCode{
		font-family: Code39;
		src: url('../css/font/Code39r.ttf');
	}
</style>

<link href="css/laporanInv.css" rel="stylesheet" type="text/css">
<link href="../css/laporanInv.css" rel="stylesheet" type="text/css">
<link href="css/table.css" rel="stylesheet" type="text/css">
<link href="../css/table.css" rel="stylesheet" type="text/css">

<body onLoad="printpr();" onBlur="open('', '_self').close();">
<!--<body onLoad="printpr();" onBlur="open(location, '_self').close();">-->

<center>

<table width="99%" cellpadding="0" cellspacing="0" style="font-size:10px;">
	{dataList}
</table>
  
</center>
</body>
</html>